{
  "semi": true,
  "singleQuote": false, 
  "tabWidth": 2,
  "printWidth": 80,
  "proseWrap": "preserve",
  "ignorePath": "static/|migrations/", 
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "plugins": [
    "pretty-html" ,
    "prettier-plugin-html-template-literals" 
  ]
}