{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Cambiar la contraseña" %}{% endblock title %}
{% block content %}
                                <div class="p-lg-5 p-4 text-center">
                                    <div class="avatar-lg mx-auto mt-2">
                                        <div class="avatar-title bg-light text-success display-3 rounded-circle">
                                            <i class="ri-checkbox-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h4>{% trans "Cambiar la contraseña" %}</h4>
                                        {% for message in messages %}
                                        <div class="alert {{ message.tags }} mb-4" role="alert">
                                            <strong>{{ message }}</strong>
                                        </div>
                                        {% endfor %} 
                                        <p class="text-muted mx-4">{% trans 'Su contraseña ahora ha cambiado.' %}</p>
                                        <div class="mt-4">
                                            <a href="{% url 'dashboard:index' %}" class="btn btn-success w-100">Volver al tablero</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->
{% endblock content %}
    