# Entornos virtuales
venv/
.env/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de log
*.log

# Archivos de bases de datos temporales
*.sqlite3

# Configuraciones de editores de texto comunes
.vscode/
.idea/

# Archivos generados por Jupyter Notebooks
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
