{% extends "partials/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block extra_css %}
    <!-- jsvectormap css -->
    <link href="{% static 'libs/jsvectormap/dist/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />
    <!--Swiper slider css-->
    <link href="{% static 'libs/swiper/swiper-bundle.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    {% block pagetitle %}
                    {% endblock pagetitle %}
                    {% if businesses %}
                    {% else %}
                    <p> Agregue datos comerciales </p>
                    {% endif %}
                  
                    <div class="row">
                        <div class="col">
                            <div class="h-100">
                                <div class="row mb-3 pb-1">
                                    <div class="col-12">
                                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                            <div class="flex-grow-1">
                                                <h4 class="fs-16 mb-1">{{ greeting }}, {{user.username}}</h4>
                                                <p class="text-muted mb-0">Los siguientes datos son en base a datos historicos y en caso se tuviera una simulacion registrada en el sistema de algun producto de la empresa</p>
                                            </div>
                                            <div class="mt-3 mt-lg-0">
                                                <form method="GET" action="{% url 'dashboard:dashboard.user' %}">
                                                    <div class="row g-3 mb-0 align-items-center">                                                        
                                                        <div class="col-sm-auto">
                                                                <select id="ForminputState" class="form-select" data-choices data-choices-sorting="true" >
                                                                    <option selected>Elija el negocio:</option>
                                                                    {% for business in businesses %}
                                                                    <option value="{{business.id}}<"  {% if request.GET.type == "{{ business.id }}" %}selected{% endif %}>
                                                                        {{business.name}}</option>
                                                                    {% empty %}
                                                                    <option>...</option>
                                                                    {% endfor %}
                                                                </select>
                                                        </div><!--end col-->
                                                        <div class="col-auto">
                                                            <button type="button"
                                                                class="btn btn-soft-info btn-icon waves-effect waves-light layout-rightside-btn"><i
                                                                    class="ri-pulse-line"></i>
                                                            </button>
                                                        </div>                                                        
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </form>
                                            </div>
                                        </div><!-- end card header -->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                                <div class="row">
                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Ingresos totales </p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <h5 class="text-success fs-14 mb-0">
                                                            <i class="ri-arrow-right-up-line fs-13 align-middle"></i> {{total_revenue_percentage}}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                    <div>
                                                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span
                                                                class="counter-value" data-target="{{total_revenue}}">0</span>Bs</h4>
                                                        {% comment %} <a href="" class="text-decoration-underline"> Ver ganancias netas</a> {% endcomment %}
                                                    </div>
                                                    <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-success-subtle rounded fs-3">
                                                            <i class="bx bx-dollar-circle text-success"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Costos Totales </p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <h5 class="text-success fs-14 mb-0">
                                                            <i class="ri-arrow-right-up-line fs-13 align-middle"></i> {{total_revenue_percentage}}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                    <div>
                                                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span
                                                                class="counter-value" data-target="{{total_revenue}}">0</span>Bs</h4>
                                                        {% comment %} <a href="" class="text-decoration-underline"> Ver ganancias netas</a> {% endcomment %}
                                                    </div>
                                                    <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-danger text-white rounded-2 fs-2 shadow">
                                                            <i class="bx bxs-badge-dollar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Margen de Beneficio </p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <h5 class="text-success fs-14 mb-0">
                                                            <i class="ri-arrow-right-up-line fs-13 align-middle"></i> {{total_revenue_percentage}}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                    <div>
                                                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span
                                                                class="counter-value" data-target="{{total_revenue}}">0</span>Bs</h4>
                                                        {% comment %} <a href="" class="text-decoration-underline"> Ver ganancias netas</a> {% endcomment %}
                                                    </div>
                                                    <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-success-subtle rounded fs-3">
                                                            <i class="las la-money-bill-wave-alt"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Inventario </p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <h5 class="text-success fs-14 mb-0">
                                                            <i class="las la-layer-group"></i> {{total_revenue_percentage}}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                    <div>
                                                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span
                                                                class="counter-value" data-target="{{total_revenue}}">0</span>Bs</h4>
                                                        {% comment %} <a href="" class="text-decoration-underline"> Ver ganancias netas</a> {% endcomment %}
                                                    </div>
                                                    <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-success-subtle rounded fs-3">
                                                            <i class="bx bx-dollar-circle text-success"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col --> 
                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Demanda Total </p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <h5 class="text-success fs-14 mb-0">
                                                            <i class="las la-layer-group"></i> {{total_demand}}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                    <div>
                                                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span
                                                                class="counter-value" data-target="{{total_revenue}}">0</span>Bs</h4>
                                                        {% comment %} <a href="" class="text-decoration-underline"> Ver ganancias netas</a> {% endcomment %}
                                                    </div>
                                                    <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-success-subtle rounded fs-3">
                                                            <i class="bx bx-dollar-circle text-success"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col --> 
                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">  </p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <h5 class="text-success fs-14 mb-0">
                                                            <i class="las la-layer-group"></i> {{total_demand}}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                    <div>
                                                        <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span
                                                                class="counter-value" data-target="{{total_revenue}}">0</span>Bs</h4>
                                                        {% comment %} <a href="" class="text-decoration-underline"> Ver ganancias netas</a> {% endcomment %}
                                                    </div>
                                                    <div class="avatar-sm flex-shrink-0">
                                                        <span class="avatar-title bg-success-subtle rounded fs-3">
                                                            <i class="bx bx-dollar-circle text-success"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->                        
                                </div> <!-- end row-->
                                <div class="row">
                                    {% if business %}
                                    <div class="col-xxl-3 col-md-6">
                                        <div class="card shadow-sm" id="business-view-detail">
                                            <div class="card-body text-center">
                                                <div class="position-relative d-inline-block">
                                                    <img src="{{ business.get_photo_url }}" alt="" class="rounded-rectangule img-fluid">
                                                </div>
                                                <h5 class="mt-3 mb-1">{{ business.name }}</h5>
                                                <p class="text-muted">{{ business.fk_user_id.name }}</p>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="text-muted text-uppercase fw-semibold mb-3"> Información </h6>
                                                <p class="text-muted mb-4">{{ business.description }}</p>
                                                <div class="table-responsive table-card">
                                                    <table class="table table-borderless mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="fw-medium" scope="row"> Tipo de industria</td>
                                                                <td>
                                                                    {% if business.type == 1 %}
                                                                        Lacteos
                                                                    {% else %}
                                                                        Otros
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-medium" scope="row">Ubicación</td>
                                                                <td>{{ business.location }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-medium" scope="row">Correo electronico </td>
                                                                <td>{{business.fk_user.email}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-medium" scope="row">Desde </td>
                                                                <td>{{ business.date_created|date:"F j, Y" }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end card-->
                                    </div>
                                    {% else %}
                                    <div class="col-12 text-center mt-4">
                                        <p class="text-muted">No hay datos de negocio en la base de datos.</p>
                                    </div>
                                    {% endif %}
                                    <div class="col-xl-9">
                                        <div class="card">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Recomendaciones Financieras</h4>
                                            </div><!-- end card header -->
                                            <div class="card-body">
                                                <div class="table-responsive table-card">
                                                    <table class="table table-hover table-centered align-middle table-nowrap mb-0">
                                                        <tbody>
                                                            {% for recommendation in page_obj %}
                                                            <tr>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div>
                                                                            <h5 class="mb-1">{{ recommendation.recommendation }}</h5>
                                                                            <p class="text-muted mb-0">{{ recommendation.description }}</p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% empty %}
                                                            <div class="text-center py-4">
                                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon>
                                                                <h5 class="mt-2">No hay recomendaciones para {{business.name}} en la base de datos</h5>
                                                            </div>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center">
                                                            {% if page_obj.has_previous %}
                                                                <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                                                            {% endif %}
                                                            <li class="page-item disabled"><a class="page-link">Página {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                                                            {% if page_obj.has_next %}
                                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                                            {% endif %}
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                </div>
                                <!-- Asegúrate de incluir la biblioteca ApexCharts en tu proyecto -->

                                <div class="row">
                                    {% for chart in charts %}
                                        <div class="col-xl-4">
                                            <div class="card h-100">
                                                <div class="card-header">
                                                    <h4 class="card-title mb-0">{{ chart.title }}</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div id="{{ chart.id }}" class="apex-charts" dir="ltr" style="height: 200px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
                                        <script>
                                            
                                            // Obtén los datos del gráfico desde el modelo y pásalos al contexto de tu template
                                            var chartData = {{ chart.chart_data|safe }};
                                            
                                            // Configura el gráfico utilizando ApexCharts
                                            var options = { 
                                                chart: {
                                                    type: '{{ chart.chart_type }}',
                                                },
                                                series: [{
                                                    name: '{{ chart.title }}',
                                                    data: chartData,
                                                }],
                                            };

                                            var chart = new ApexCharts(document.getElementById('{{ chart.id }}'), options);
                                            chart.render();
                                        </script>
                                    {% empty %}
                                    <div class="text-center py-4">
                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon>
                                        <h5 class="mt-2">Lo siento, no hay graficos relacionador a algun producto del negocio {{business.name}} en la base de datos</h5>
                                    </div>
                                    {% endfor %}
                                </div>

                            </div> <!-- end .h-100-->
                        </div> <!-- end col -->

                        <div class="col-auto layout-rightside-col">
                            <div class="overlay"></div>
                            <div class="layout-rightside">
                                <div class="card h-100 rounded-0">
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h6 class="text-muted mb-0 text-uppercase fw-semibold"> Actividad reciente </h6>
                                        </div>
                                        <div data-simplebar style="max-height: 410px;" class="p-3 pt-0">
                                            <div class="acitivity-timeline acitivity-main">
                                                {% for log_entry in recent_activity %}
                                                    <li>
                                                        <strong>User {{ log_entry.user.username }}</strong> performed the action '{{ log_entry.action }}' on {{ log_entry.timestamp|date:"F j, Y H:i:s" }}.
                                                        {% if log_entry.details %}
                                                            <strong>Details:</strong> {{ log_entry.details }}
                                                        {% endif %}
                                                    </li>
                                                {% empty %}
                                                <div class="text-center py-4">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon>
                                                    <h5 class="mt-2">Lo siento, no hay ninguna actividad reciente</h5>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-->
                            </div> <!-- end .rightbar-->
                        </div> <!-- end col activity -->
                    </div>                    
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>


{% endblock extra_js %}