{% extends "partials/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_css %}
        <!-- plugin css -->
        <link href="{% static 'libs/jsvectormap/dist/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="" title="Home" %}
                        {% endblock pagetitle %}
                        <!-- end page title -->
                        <div class="row"> <div class="col-xxl-12"> <div class="alert alert-success"> <strong>Bienvenido!</strong> 
                            ¡Bienvenido a la página de inicio del sistema! Aquí encontrarás una vista previa visual con widgets que representan las 
                            distintas funciones y características que ofrece nuestro sistema. Para aprovechar al máximo todas las funcionalidades, te 
                            recomendamos iniciar sesión. ¡Iniciar sesión te dará acceso completo a las herramientas y recursos que hacen que nuestro 
                            sistema sea aún más útil y personalizado para ti! ¡Esperamos que disfrutes utilizando el sistema!    
                        </div> 
                        <div class="col-xxl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="card-title mb-3">Crear Elementos Predeterminados</h5>
                                            <p class="card-text">
                                                Al hacer clic en este botón, se crearán automáticamente los elementos predeterminados necesarios para las simulaciones.
                                                Estos elementos incluyen negocios, productos, áreas, variables y ecuaciones que son esenciales para realizar simulaciones exitosas.
                                            </p>
                                        </div>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Crear Elementos
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Registrar Elementos Predeterminados</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="POST" action="{% url 'pages:pages.register_elements' %}" class="needs-validation" novalidate>
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            <div class="mb-3 form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" name="create_all_elements" class="form-check-input">
                                                    Crear todos los elementos automáticamente
                                                </label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Registrar</button>
                                        </div>
                                    </form>
                                    <form method="POST" action="{% url 'pages:pages.register_elements_simulation' %}" class="needs-validation" novalidate>
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            <div class="mb-3 form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" name="create_all_elements" class="form-check-input">
                                                    Crear elementos de prueba simulacion
                                                </label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Registrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="position:relative; padding-top:100%; overflow:hidden;">
                                                        <iframe src="{% static 'images/GIF/74pZ.gif' %}" width="480" height="320" style="position:absolute; top:0; left:0; border:0;" frameborder="0" allowfullscreen></iframe>
                                                    </div>                                        
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">
                                                            En el sistema, llevamos a cabo un proceso de revisión y validación de los datos ingresados para garantizar la precisión y confiabilidad en la generación de simulaciones.</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">                                                            
                                                            Dentro de nuestra plataforma, implementamos un riguroso proceso de revisión y validación de los datos introducidos. Este procedimiento asegura la integridad y exactitud de
                                                            la información, proporcionando una base sólida para la generación de simulaciones precisas y confiables. Al garantizar la calidad de los datos, nuestro sistema contribuye a
                                                            resultados más robustos y a la toma de decisiones informadas en diversos contextos.
                                                        </p>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">En nuestro sistema, implementamos funciones de densidad probabilística para llevar a cabo simulaciones de manera precisa y efectiva.</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">
                                                            Nuestra plataforma utiliza funciones de densidad probabilística como base fundamental para la ejecución de simulaciones. Estas funciones permiten modelar 
                                                            de manera precisa y eficiente diversos escenarios, proporcionando una herramienta robusta y confiable para el análisis y la toma de decisiones.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="position:relative; padding-top:100%; overflow:hidden;">
                                                        <iframe src="{% static 'images/GIF/ASzm.gif' %}" width="480" height="320" style="position:absolute; top:0; left:0; border:0;" frameborder="0" allowfullscreen></iframe>
                                                    </div>                                                
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="position:relative; padding-top:100%; overflow:hidden;">
                                                        <iframe src="{% static 'images/GIF/75ez.gif' %}" width="480" height="320" style="position:absolute; top:0; left:0; border:0;" frameborder="0" allowfullscreen></iframe>
                                                    </div> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2">Análisis de tendencias históricas y futuras</h5>
                                                        <p class="card-text text-muted mb-0">
                                                            Analice datos históricos para identificar tendencias pasadas y extrapolar los comportamientos de demanda futuros.Predecir los cambios en el mercado y la estrategia
                                                            respectivamente.Por qué utilizar: al comprender las tendencias históricas y pronosticar las futuras, las PYME pueden alinear sus estrategias con el mercado cambiante del mercado
                                                            dinámica, asegurando la viabilidad a largo plazo.rgo plazo.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2">Simulación de escenarios de demanda con datos historicos de su empresa</h5>
                                                        <p class="card-text text-muted mb-0">
                                                            Con la asistencia de nuestro sistema, podrá generar simulaciones basadas en datos históricos de su empresa. Esto le proporcionará una visión anticipada de cómo se comportará
                                                            la demanda de su producto en el futuro. Esta anticipación le permitirá tomar decisiones informadas para mejorar tanto la producción como las ventas de su empresa, optimizando
                                                            así sus operaciones y estrategias comerciales.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="position:relative; padding-top:100%; overflow:hidden;">
                                                        <iframe src="{% static 'images/GIF/7WpW.gif' %}" width="480" height="320" style="position:absolute; top:0; left:0; border:0;" frameborder="0" allowfullscreen></iframe>
                                                    </div>   
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="position:relative; padding-top:100%; overflow:hidden;">
                                                        <iframe src="{% static 'images/GIF/2mVW.gif' %}" width="480" height="320" style="position:absolute; top:0; left:0; border:0;" frameborder="0" allowfullscreen></iframe>
                                                    </div>                                                
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Importancia del analisis de la demanda</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">
                                                            El análisis de la demanda en cualquier mercado proporciona a la empresa un enfoque diferenciado, permitiéndole comprender cómo interactuar con los costos y 
                                                            procesos internos. Este conocimiento estratégico facilita la producción eficiente de bienes o servicios, evitando gastos innecesarios y maximizando la 
                                                            capacidad productiva de la empresa.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Optimizar las fuentes de ingresos</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">
                                                            Maximice los ingresos ajustando su enfoque en función de las proyecciones de la demanda.
                                                            Identificar oportunidades para el crecimiento de los ingresos y la diversificación.Por qué usar: optimización de ingresos
                                                            es crucial para la sostenibilidad y el crecimiento de las PYME.Comprender los patrones de demanda ayuda
                                                            Identifique las fuentes de ingresos y capitalice ellas.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="position:relative; padding-top:100%; overflow:hidden;">
                                                        <iframe src="{% static 'images/GIF/72qy.gif' %}" width="480" height="320" style="position:absolute; top:0; left:0; border:0;" frameborder="0" allowfullscreen></iframe>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="position:relative; padding-top:100%; overflow:hidden;">
                                                        <iframe src="{% static 'images/GIF/Qqdd.gif' %}" width="480" height="320" style="position:absolute; top:0; left:0; border:0;" frameborder="0" allowfullscreen></iframe>
                                                    </div> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2">Soporte de decisiones personalizado</h5>
                                                        <p class="card-text text-muted mb-0">
                                                            Reciba un apoyo a la decisión personalizada para abordar desafíos financieros específicos dentro de
                                                            El sector lácteo. Beneficiarse de orientación y recomendaciones personalizadas. Por qué usar: a medida
                                                            El apoyo reconoce los desafíos únicos que enfrentan las PYME.La guía personalizada ayuda a hacer
                                                            decisiones que son directamente relevantes para sus circunstancias específicas.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2">Administra tus propias variables y productos para realizar simulaciones desde cero, o simplemente utiliza los productos predeterminados disponibles en el sistema.</h5>
                                                        <p class="card-text text-muted mb-0">
                                                            Explora el control total sobre tus variables y productos al gestionar tus propias configuraciones para realizar
                                                            simulaciones desde cero. Personaliza y ajusta cada detalle según tus necesidades específicas. Si prefieres una
                                                            opción rápida, también puedes utilizar los productos predeterminados que ya se encuentran disponibles en el sistema,
                                                            proporcionándote una experiencia práctica y eficiente.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding-top:56.200%;position:relative;"><iframe src="https://gifer.com/embed/VJi" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>                                               </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
            </div>
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
<!-- Vector map-->
<script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js'%}"></script>
<script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js'%}"></script>
{% endblock extra_js %}
