{% extends "partials/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_css %}
        <!-- plugin css -->
        <link href="{% static 'libs/jsvectormap/dist/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="Dashboards" title="Home" %}
                        {% endblock pagetitle %}
                        <!-- end page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="padding-top:75.000%;position:relative;">
                                                        <iframe src="https://gifer.com/embed/74pZ" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0"></iframe>
                                                    </div>                                              
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Advanced Data Analysis</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">                                                            
                                                            Description: Leverage advanced data analysis techniques to gain deep insights into demand patterns and financial trends within the dairy sector. Make informed decisions based on data-driven insights.
                                                            Why Use: By analyzing data comprehensively, you can identify opportunities for growth, optimize resource allocation, and make strategic financial decisions with confidence.
                                                        </p>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Probabilistic Density Functions</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">
                                                            Description: Employ sophisticated probabilistic density functions to model and understand the probability distribution of demand fluctuations. This enables precise forecasting and risk assessment.
                                                            Why Use: Probabilistic density functions provide a robust framework for assessing and predicting demand fluctuations, helping SMEs make informed decisions that account for uncertainties.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding-top:65.526%;position:relative;"><iframe src="https://gifer.com/embed/ASzm" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="padding-top:75.000%;position:relative;"><iframe src="https://gifer.com/embed/75ez" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2">Historical and Future Trend Analysis</h5>
                                                        <p class="card-text text-muted mb-0">
                                                            Description: Analyze historical data to identify past trends and extrapolate future demand behaviors. Predict market changes and strategize accordingly.
                                                            Why Use: By understanding historical trends and forecasting future ones, SMEs can align their strategies with changing market dynamics, ensuring long-term viability.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2">Simulation of Demand Scenarios</h5>
                                                        <p class="card-text text-muted mb-0">
                                                            Description: Simulate various demand scenarios to explore how changes in market conditions affect your financial outcomes. Visualize possible results and optimize strategies.
                                                            Why Use: Simulation allows SMEs to test different strategies in a risk-free environment. It helps identify the most effective course of action for different scenarios, reducing financial risks.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding-top:71.000%;position:relative;"><iframe src="https://gifer.com/embed/7WpW" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="padding-top:99.792%;position:relative;"><iframe src="https://gifer.com/embed/2mVW" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>                                               
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Risk Mitigation Strategies</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">
                                                            Description: Develop strategies for mitigating financial risks by understanding the potential impacts of market fluctuations and implementing safeguards against adverse conditions.
                                                            Why Use: Risk mitigation is essential for protecting your financial stability. By comprehending potential risks, you can proactively implement strategies to minimize adverse effects.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Optimize Revenue Streams</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">
                                                            Description: Maximize revenue by adjusting your approach based on demand projections. Identify opportunities for revenue growth and diversification.
                                                            Why Use: Revenue optimization is crucial for the sustainability and growth of SMEs. Understanding demand patterns helps identify revenue sources and capitalize on them.    
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding-top:75.000%;position:relative;"><iframe src="https://gifer.com/embed/72qy" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="padding-top:92.381%;position:relative;"><iframe src="https://gifer.com/embed/Qqdd" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2">Customized Decision Support</h5>
                                                        <p class="card-text text-muted mb-0">
                                                            Description: Receive tailored decision support to address specific financial challenges within the dairy sector. Benefit from personalized guidance and recommendations.
                                                            Why Use: Tailored support acknowledges the unique challenges SMEs face. Customized guidance helps in making decisions that are directly relevant to your specific circumstances.    
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2">Real-time Data Insights</h5>
                                                        <p class="card-text text-muted mb-0">
                                                            Description: Access real-time data insights that keep you up-to-date with market conditions. Respond swiftly to changing demand dynamics to maintain financial stability and growth.
                                                            Why Use: Real-time data is essential for staying competitive. Being well-informed about current market conditions enables quick decision-making, helping SMEs adapt to changes in demand.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding-top:56.200%;position:relative;"><iframe src="https://gifer.com/embed/VJi" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>                                               </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
            </div>
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
<!-- Vector map-->
<script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js'%}"></script>
<script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js'%}"></script>
{% endblock extra_js %}