{% extends "partials/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_css %}
    <!-- plugin css -->
    <link href="{% static 'libs/jsvectormap/dist/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="" title="Home" %}
                        {% endblock pagetitle %}
                        <!-- end page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="padding-top:75.000%;position:relative;">
                                                        <iframe src="https://gifer.com/embed/74pZ" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0"></iframe>
                                                    </div>                                              
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0"><span data-key="t-intro_title1"></span></h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">                                                            
                                                            <span data-key="t-intro1"></span>
                                                        </p>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0"><span data-key="t-intro_title2"></span></h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">
                                                            <span data-key="t-intro2"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding-top:65.526%;position:relative;"><iframe src="https://gifer.com/embed/ASzm" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="padding-top:75.000%;position:relative;"><iframe src="https://gifer.com/embed/75ez" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2"><span data-key="t-intro_title3"></span></h5>
                                                        <p class="card-text text-muted mb-0">
                                                            <span data-key="t-intro3"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2"><span data-key="t-intro_title4"></span></h5>
                                                        <p class="card-text text-muted mb-0">
                                                            <span data-key="t-intro4"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding-top:71.000%;position:relative;"><iframe src="https://gifer.com/embed/7WpW" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="padding-top:99.792%;position:relative;"><iframe src="https://gifer.com/embed/2mVW" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>                                               
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0"><span data-key="t-intro_title5"></span></h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">
                                                            <span data-key="t-intro5"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0"><span data-key="t-intro_title6"></span></h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text mb-2">
                                                            <span data-key="t-intro6"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding-top:75.000%;position:relative;"><iframe src="https://gifer.com/embed/72qy" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <div style="padding-top:92.381%;position:relative;"><iframe src="https://gifer.com/embed/Qqdd" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2"><span data-key="t-intro_title7"></span></h5>
                                                        <p class="card-text text-muted mb-0">
                                                            <span data-key="t-intro7"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xxl-6">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2"><span data-key="t-intro_title8"></span></h5>
                                                        <p class="card-text text-muted mb-0">
                                                            <span data-key="t-intro8"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="padding-top:56.200%;position:relative;"><iframe src="https://gifer.com/embed/VJi" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>                                               </div>
                                            </div>
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
            </div>
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
<!-- Vector map-->
<script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js'%}"></script>
<script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js'%}"></script>
{% endblock extra_js %}