{% load static %}
<!DOCTYPE html>
<html lang="en" {% block html %}data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" {% endblock html %}>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %} | findempro - Sistema de apoyo a las decisiones financieras para pequeñas y medianas empresas (PYME) en el sector lácteo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Financial Decision Support System for Small and Medium-sized Enterprises (SMEs) in the Dairy Secto" name="description" />
    <meta content="Sergio Troche" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">

    {% block css %}
    {% block extra_css %}
    {% endblock extra_css %}

    <!-- Layout config Js -->
    <script src="{% static 'js/layout.js'%}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'css/custom.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
    {% endblock css %}
</head>

<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        {% block header %}
        {% include "partials/topbar.html" %}
        {% endblock header %}
        {% block sidebar %}
        {% include "partials/sidebar.html" %}
        {% endblock sidebar %}
        {% block content %}
        {% block pagetitle %}
        {% endblock pagetitle %}
        {% block footer %}
        {% endblock footer %}
        {% endblock content %}
    </div>
    
    {% block extra_content %}        
    {% endblock extra_content %}
        
    <!-- END layout-wrapper -->
    {% block right_sidebar %}
    {% include "partials/customizer.html" %}
    {% endblock right_sidebar %}

    {% block javascript %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.min.js'%}"></script>
    <script src="{% static 'libs/node-waves/dist/waves.min.js'%}"></script>
    <script src="{% static 'libs/feather-icons/dist/feather.min.js'%}"></script>
    <script src="{% static 'js/pages/plugins/lord-icon-2.1.0.js'%}"></script>
    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <!-- prismjs plugin -->
    <script src="{% static 'libs/prismjs/prism.js'%}"></script>
    <script src="{% static 'libs/list.js/dist/list.min.js'%}"></script>
    <script src="{% static 'libs/list.pagination.js/dist/list.pagination.min.js'%}"></script>
    <!-- Sweet Alerts js -->
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
        <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>
    <script src="https://apexcharts.com/samples/assets/ohlc.js"></script>
    <!-- candlestick charts init -->
    <script src="{% static 'js/pages/apexcharts-candlestick.init.js'%}"></script>
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

    <!-- Vector map-->
    <script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js'%}"></script>
    <script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js'%}"></script>
    <!--Swiper slider js-->
    <script src="{% static 'libs/swiper/swiper-bundle.min.js'%}"></script>
    <!-- Dashboard init -->
    <script src="{% static 'js/pages/dashboard-ecommerce.init.js'%}"></script>
    <!-- echarts js -->
    <script src="{% static 'libs/echarts/dist/echarts.min.js'%}"></script>
    <!-- echarts init -->
    <script src="{% static 'js/pages/echarts.init.js'%}"></script>
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>
    <!-- linecharts init -->
    {% comment %} <script src="{% static 'js/pages/apexcharts-line.init.js'%}"></script> {% endcomment %}
    <!-- list.js min js -->
    <script src="{% static 'libs/list.js/dist/list.min.js'%}"></script>
    <script src="{% static 'libs/list.pagination.js/dist/list.pagination.min.js'%}"></script>
    <!-- Sweet Alerts js -->
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>


    {% for message in messages %}
            {% if message.tags == 'alert-success' %}
            <!-- sweetalert js -->
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                var m = "{{ message|safe }}";
                Swal.fire({
                    icon: 'success',
                    title: m,
                    showConfirmButton: false,
                    timer: 3000,
                })
            </script>
            {% else %}
                <!-- sweetalert js -->
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                var m = "{{ message|safe }}";
                Swal.fire({
                    icon: 'error',
                    title: m,
                    showConfirmButton: false,
                    timer: 3000,
                })
                </script>
            {% endif %}
    {% endfor %}
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}
    {% endblock javascript %}
    <!-- App js -->
    <script src="{% static 'js/app.js'%}"></script>
        
</body>

</html>