{% block modals %}
  <!-- removeVariableModal -->
  <div
    id="removeVariableModal"
    class="modal fade zoomIn"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="close-modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mt-2 text-center">
            <lord-icon
              src="https://cdn.lordicon.com/gsqxdxog.json"
              trigger="loop"
              colors="primary:#f7b84b,secondary:#f06548"
              style="width: 100px; height: 100px"
            ></lord-icon>
            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
              <h4>Are you Sure ?</h4>
              <p class="text-muted mx-4 mb-0"
                >Are you Sure You want to Remove this Product ?</p
              >
            </div>
          </div>
          <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
            <button
              type="button"
              class="btn w-sm btn-light"
              data-bs-dismiss="modal"
              >Close</button
            >
            <button
              type="button"
              class="btn w-sm btn-danger"
              id="remove-variable"
              >Yes, Delete It!</button
            >
          </div>
        </div> </div
      ><!-- /.modal-content --> </div
    ><!-- /.modal-dialog --> </div
  ><!-- /.modal -->
  <div
    class="modal fade"
    id="addVariable"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content border-0">
        <form
          id="variableForm"
          autocomplete="off"
          class="needs-validation"
          novalidate
        >
          {% csrf_token %}
          <div class="modal-body">
            <input type="hidden" id="variable-id-field" />
            <div class="row g-3">
              <div class="col-lg-12">
                <div class="text-center mb-4 mt-n5 pt-2">
                  <div class="position-relative d-inline-block">
                    <div class="position-absolute bottom-0 end-0">
                      <!-- You can allow the user to select a logo for the variable -->
                      <label
                        for="image_src"
                        class="mb-0"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Select Image"
                      >
                        <div class="avatar-xs cursor-pointer">
                          <div
                            class="avatar-title bg-light border rounded-circle text-muted"
                          >
                            <i class="ri-image-fill"></i>
                          </div>
                        </div>
                      </label>
                      <input
                        class="form-control d-none"
                        value=""
                        id="image_src"
                        type="file"
                        accept="image/png,  image/jpeg"
                        name="image_src"
                      />
                    </div>
                    <div class="avatar-lg p-1">
                      <div class="avatar-title bg-light rounded-circle">
                        <!-- You can display the variable's logo here -->
                        <img
                          src="{{ product.get_photo_url }}"
                          id="variablelogo-img"
                          class="avatar-md rounded-circle object-fit-cover"
                        />
                      </div>
                    </div>
                  </div>
                  <h5 class="fs-13 mt-3">Variable Logo</h5>
                </div>
                <div>
                  <label for="name" class="form-label">Variable Name</label>
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    placeholder="Enter variable name"
                    name="name"
                    required
                  />
                  <div class="invalid-feedback"
                    >Please enter a variable name.</div
                  >
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <label for="fk_product" class="form-label"
                    >Associated Product</label
                  >
                  <select
                    class="form-select"
                    id="fk_product"
                    name="fk_product"
                    required
                  >
                    {% for product in products %}
                    <option value="{{product.id}}">{{product.name}}</option>
                    {% empty %}
                    <option value=".">...</option>
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback"
                    >Please select the associated product for the variable.</div
                  >
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <label for="type" class="form-label">Variable Type</label>
                  <select class="form-select" id="type" name="type" required>
                    <option value="1">Endogenous</option>
                    <option value="2">Exogenous</option>
                    <option value="2">Estado</option>
                  </select>
                  <div class="invalid-feedback"
                    >Please select a variable type.</div
                  >
                </div>
              </div>
              <div class="col-lg-4">
                <div>
                  <label for="unit" class="form-label">Unit</label>
                  <select class="form-select" id="unit" name="unit" required>
                    <option value="Lt">Lt</option>
                    <option value="Bs">Bs</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <textarea
                    class="form-control"
                    id="description"
                    rows="3"
                    placeholder="Enter description"
                    name="description"
                    required
                  ></textarea>
                  <div class="invalid-feedback"
                    >Please enter a description for the variable.</div
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
              <button
                type="button"
                class="btn btn-light"
                data-bs-dismiss="modal"
                >Close</button
              >
              <button
                type="submit"
                class="btn btn-success"
                id="add-variable-btn"
                >Add Variable</button
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End of Add Variable Modal -->
  <div
    class="modal fade"
    id="errorModal"
    tabindex="-1"
    aria-labelledby="errorLabel"
    aria-hidden="true"
    style="display: none"  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorLabel">Form Submission Error</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" id="errorModalContent">
          <!-- Display form validation errors here -->
        </div>
      </div>
    </div>
  </div>
<!-- removeBusinessModal -->
<div   id="removeBusinessModal"
class="modal fade zoomIn"
tabindex="-1"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        id="close-modal"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mt-2 text-center">
        <lord-icon
          src="https://cdn.lordicon.com/gsqxdxog.json"
          trigger="loop"
          colors="primary:#f7b84b,secondary:#f06548"
          style="width: 100px; height: 100px"
        ></lord-icon>
        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
          <h4>Are you Sure ?</h4>
          <p class="text-muted mx-4 mb-0">
            Are you Sure You want to Remove this Product ?
          </p>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button
          type="button"
          class="btn w-sm btn-light"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        {% if product.id %}
        <button
          type="button"
          class="btn w-sm btn-danger delete-product-btn"
          data-href="{% url 'product:product.delete' product.id %}"
        >
          Yes, Delete It!
        </button>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<!-- container-fluid -->
</div>
<!-- Modal -->
<div
class="modal fade zoomIn"
id="addBusiness"
tabindex="-1"
aria-labelledby="addBusinessLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="addBusinessLabel">Add Business</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-content border-0 mt-3">
      <ul
        class="nav nav-tabs nav-tabs-custom nav-success p-2 pb-0 bg-light"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            href="#businessDetails"
            role="tab"
            aria-selected="false"
          >
            Business Details
          </a>
        </li>
      </ul>
    </div>
    <div class="modal-body">
      <div class="tab-content">
        <div
          class="tab-pane active"
          id="businessDetails"
          role="tabpanel"
        >
          <form
            method="POST"
            class="post-form"
            id="businessForm"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-3">
                  <label for="name" class="form-label">
                    Business Name
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    placeholder="Enter your business name"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter a business name.
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="type" class="form-label">
                    Business Type
                  </label>
                  <select
                    class="form-control"
                    name="type"
                    id="type"
                    required
                  >
                    <option value="">Select type</option>
                    <option value="Dairy">Dairy</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a business type.
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="location" class="form-label">
                    Location
                  </label>
                  <select
                    class="form-control"
                    name="location"
                    id="location"
                    required
                  >
                    <option value="">Select location</option>
                    <option value="LaPaz">La Paz</option>
                    <option value="Cochabamba">Cochabamba</option>
                    <option value="SantaCruz">Santa Cruz</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a location for the business.
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="image_src" class="form-label">Logo</label>
                  <input
                    type="file"
                    class="form-control"
                    id="image_src"
                    name="image_src"
                  />
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-12">
                <div class="mb-3">
                  <label for="description" class="form-label">
                    Description
                  </label>
                  <textarea
                    class="form-control"
                    id="description"
                    name="description"
                    rows="3"
                    placeholder="Enter description"
                    required
                  ></textarea>
                  <div class="invalid-feedback">
                    Please enter a description for the business.
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-12">
                <div class="hstack gap-2 justify-content-end">
                  <button
                    class="btn btn-link link-success text-decoration-none fw-medium"
                    data-bs-dismiss="modal"
                  >
                    <i class="ri-close-line me-1 align-middle"></i>
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    <i class="ri-save-3-line align-bottom me-1"></i>
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
</div>
<!-- Modal -->
<div
class="modal fade zoomIn"
id="editBusinessModal"
tabindex="-1"
aria-labelledby="addProductLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="addProductLabel">Edit Product</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-content border-0 mt-3">
      <ul
        class="nav nav-tabs nav-tabs-custom nav-success p-2 pb-0 bg-light"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            href="#companyDetails"
            role="tab"
            aria-selected="false"
          >
            Product Details
          </a>
        </li>
      </ul>
    </div>
    <div class="modal-body">
      <div class="tab-content">
        <div
          class="tab-pane active"
          id="companyDetails"
          role="tabpanel"
        >
          <form id="editproductForm">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-3">
                  <label for="name" class="form-label">
                    Product Name
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter the product name"
                    required
                  />
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="type" class="form-label">
                    Product Type
                  </label>
                  <select
                    class="form-control"
                    id="type"
                    name="type"
                    required
                  >
                    <option value="">Select type</option>
                    <option value="Dairy">Dairy</option>
                    <option value="Cheese">Cheese</option>
                    <option value="Yogur">Yogur</option>
                  </select>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="fk_business" class="form-label">
                    Business
                  </label>
                  <select
                    class="form-control"
                    id="fk_business"
                    name="fk_business"
                    required
                  >
                    <option value="">Select type</option>
                    {% for business in businesses %}
                    <option value="{{business.id}}">
                      {{business.name}}
                    </option>
                    {% empty %}
                    <option value=".">...</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="image_src" class="form-label">
                    Product Image
                  </label>
                  <input
                    type="file"
                    class="form-control"
                    id="image_src"
                    accept="image/png, image/jpeg"
                    name="image_src"
                  />
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-12">
                <div>
                  <label for="description" class="form-label">
                    Description
                  </label>
                  <textarea
                    class="form-control"
                    id="description"
                    name="description"
                    rows="3"
                    placeholder="Enter description"
                    required
                  ></textarea>
                  <div class="invalid-feedback">
                    Please enter a description for the product.
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-12">
                <div class="hstack gap-2 justify-content-end">
                  <button
                    class="btn btn-link link-success text-decoration-none fw-medium"
                    data-bs-dismiss="modal"
                  >
                    <i class="ri-close-line me-1 align-middle"></i>
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    <i class="ri-save-3-line align-bottom me-1"></i>
                    Save
                  </button>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--end modal-->
    <!-- Modal -->
    <div class="modal fade" id="inviteVariablesModal" tabindex="-1" aria-labelledby="inviteVariablesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header p-3 ps-4 bg-success-subtle">
                    <h5 class="modal-title" id="inviteVariablesModalLabel">Variables</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <div class="search-box mb-3">
                        <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
                        <i class="ri-search-line search-icon"></i>
                    </div>

                    <div class="mb-4 d-flex align-items-center">
                        <div class="me-2">
                            <h5 class="mb-0 fs-13">Variables :</h5>
                        </div>
                        <div class="avatar-group justify-content-center">
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Brent Gonzalez">
                                <div class="avatar-xs">
                                    <img src="{{ variable.get_photo_url  }}" alt="" class="rounded-circle img-fluid">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="mx-n4 px-4" data-simplebar style="max-height: 225px;">
                        <div class="vstack gap-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="#" class="text-body d-block">Nancy Martino</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                        </div>
                        <!-- end list -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light w-xs" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success w-xs">Invite</button>
                </div>
            </div>
            <!-- end modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- end modal -->    
<!-- tModal -->
<div id="removeProductModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="close-modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mt-2 text-center">
            <lord-icon
              src="https://cdn.lordicon.com/gsqxdxog.json"
              trigger="loop"
              colors="primary:#f7b84b,secondary:#f06548"
              style="width: 100px; height: 100px"
            ></lord-icon>
            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
              <h4>Está seguro ?</h4>
              <p class="text-muted mx-4 mb-0">
                ¿Estás seguro de que quieres eliminar este producto?
              </p>
            </div>
          </div>
          <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">
              Close
            </button>
            {% if product.id %}
            <button
              type="button"
              class="btn w-sm btn-danger delete-product-btn"
              data-href="{% url 'product:product.delete' product.id %}"
            >
              ¡Sí, borrarlo!
            </button>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!--Add Default products Modal -->
  <div
    class="modal fade zoomIn"
    id="addDefaultProduct"
    tabindex="-1"
    aria-labelledby="addProductLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductLabel">Add Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <div class="tab-pane active" id="companyDetails" role="tabpanel">
              <form id="productForm">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                      <label class="form-label">
                        Choose one or more that the next products to add to the business
                      </label>
  
                      <table
                        id="product-table"
                        class="table align-middle table-nowrap table-striped-columns mb-0"
                      >
                        <thead class="table-light">
                          <tr>
                            <th scope="col" style="width: 46px">
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="cardtableCheck"
                                />
                                <label class="form-check-label" for="cardtableCheck"></label>
                              </div>
                            </th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="cardtableCheck01"
                                />
                                <label class="form-check-label" for="cardtableCheck01"></label>
                              </div>
                            </td>
                            <td>
                              <iframe
                                src="https://giphy.com/embed/3oz8xCX30CNCJZigSc"
                                width="50"
                                height="50"
                                frameborder="0"
                                class="giphy-embed"
                                allowfullscreen
                              ></iframe>
                            </td>
                            <td>Normal Milk</td>
                            <td>
                              <span class="badge bg-success">
                                Ready to simulations
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="cardtableCheck02"
                                />
                                <label class="form-check-label" for="cardtableCheck02"></label>
                              </div>
                            </td>
                            <td>
                              <iframe
                                src="https://giphy.com/embed/3oz8xCX30CNCJZigSc"
                                width="50"
                                height="50"
                                frameborder="0"
                                class="giphy-embed"
                                allowfullscreen
                              ></iframe>
                            </td>
                            <td>Regular cheese</td>
                            <td>
                              <span class="badge bg-success">
                                Ready to simulations
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="cardtableCheck03"
                                />
                                <label class="form-check-label" for="cardtableCheck03"></label>
                              </div>
                            </td>
                            <td>
                              <iframe
                                src="https://giphy.com/embed/3oz8xCX30CNCJZigSc"
                                width="50"
                                height="50"
                                frameborder="0"
                                class="giphy-embed"
                                allowfullscreen
                              ></iframe>
                            </td>
                            <td>Regular Yogurt</td>
                            <td>
                              <span class="badge bg-danger">
                                Ready to simulations
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="col-lg-12">
                        <div class="hstack gap-2 justify-content-end">
                          <button
                            class="btn btn-link link-success text-decoration-none fw-medium"
                            data-bs-dismiss="modal"
                          >
                            <i class="ri-close-line me-1 align-middle"></i>
                            Close
                          </button>
                          <button id="add-selected-products" class="btn btn-primary">
                            <i class="ri-save-3-line align-bottom me-1"></i>
                            Add selected items
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade zoomIn"
    id="addProduct"
    tabindex="-1"
    aria-labelledby="addProductLabel"
    aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductLabel">Add Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-content border-0 mt-3">
          <ul class="nav nav-tabs nav-tabs-custom nav-success p-2 pb-0 bg-light" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="tab"
                href="#companyDetails"
                role="tab"
                aria-selected="false"
              >
                Product Details
              </a>
            </li>
          </ul>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <div class="tab-pane active" id="companyDetails" role="tabpanel">
              <form id="productForm">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                      <label for="name" class="form-label">Product Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Enter the product name"
                        required
                      />
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="type" class="form-label">Product Type</label>
                      <select class="form-control" id="type" name="type" required>
                        <option value="">Select type</option>
                        <option value="Dairy">Dairy</option>
                        <option value="Cheese">Cheese</option>
                        <option value="Yogur">Yogur</option>
                      </select>
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="fk_business" class="form-label">Business</label>
                      <select class="form-control" id="fk_business" name="fk_business" required>
                        <option value="">Select type</option>
                        {% for business in businesses %}
                        <option value="{{business.id}}">{{business.name}}</option>
                        {% empty %}
                        <option value=".">...</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="image_src" class="form-label">
                        Product Image
                      </label>
                      <input
                        type="file"
                        class="form-control"
                        id="image_src"
                        accept="image/png, image/jpeg"
                        name="image_src"
                      />
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-12">
                    <div>
                      <label for="description" class="form-label">
                        Description
                      </label>
                      <textarea
                        class="form-control"
                        id="description"
                        name="description"
                        rows="3"
                        placeholder="Enter description"
                        required
                      ></textarea>
                      <div class="invalid-feedback">
                        Please enter a description for the product.
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-12">
                    <div class="hstack gap-2 justify-content-end">
                      <button
                        class="btn btn-link link-success text-decoration-none fw-medium"
                        data-bs-dismiss="modal"
                      >
                        <i class="ri-close-line me-1 align-middle"></i>
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">
                        <i class="ri-save-3-line align-bottom me-1"></i>
                        Save
                      </button>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal-->
  <!-- Modal -->
  <div
    class="modal fade zoomIn"
    id="editProductModal"
    tabindex="-1"
    aria-labelledby="addProductLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductLabel">Edit Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-content border-0 mt-3">
          <ul class="nav nav-tabs nav-tabs-custom nav-success p-2 pb-0 bg-light" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="tab"
                href="#companyDetails"
                role="tab"
                aria-selected="false"
              >
                Product Details
              </a>
            </li>
          </ul>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <div class="tab-pane active" id="companyDetails" role="tabpanel">
              <form id="editproductForm">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                      <label for="name" class="form-label">Product Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Enter the product name"
                        required
                      />
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="type" class="form-label">Product Type</label>
                      <select class="form-control" id="type" name="type" required>
                        <option value="">Select type</option>
                        <option value="Dairy">Dairy</option>
                        <option value="Cheese">Cheese</option>
                        <option value="Yogur">Yogur</option>
                      </select>
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="fk_business" class="form-label">Business</label>
                      <select class="form-control" id="fk_business" name="fk_business" required>
                        <option value="">Select type</option>
                        {% for business in businesses %}
                        <option value="{{business.id}}">{{business.name}}</option>
                        {% empty %}
                        <option value=".">...</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="image_src" class="form-label">
                        Product Image
                      </label>
                      <input
                        type="file"
                        class="form-control"
                        id="image_src"
                        accept="image/png, image/jpeg"
                        name="image_src"
                      />
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-12">
                    <div>
                      <label for="description" class="form-label">
                        Description
                      </label>
                      <textarea
                        class="form-control"
                        id="description"
                        name="description"
                        rows="3"
                        placeholder="Enter description"
                        required
                      ></textarea>
                      <div class="invalid-feedback">
                        Please enter a description for the product.
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-lg-12">
                    <div class="hstack gap-2 justify-content-end">
                      <button
                        class="btn btn-link link-success text-decoration-none fw-medium"
                        data-bs-dismiss="modal"
                      >
                        <i class="ri-close-line me-1 align-middle"></i>
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">
                        <i class="ri-save-3-line align-bottom me-1"></i>
                        Save
                      </button>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal-->
{% endblock modals %}
    

