{% extends "partials/base.html" %}
{% load static %}
{% block title %}Product Overview{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card mt-n4 mx-n4">
            <div class="bg-warning-subtle">
              <div class="card-body pb-0 px-4">
                <div class="row mb-3">
                  <div class="col-md">
                    <div class="row align-items-center g-3">
                      <div class="col-md-auto">
                        <div class="avatar-lg">
                          <div class="avatar-title bg-white rounded-circle">
                            {% if product.image_src %}
                            <img
                              src="{{ MEDIA_URL }}{{ product.image_src.url }}"
                              alt=""
                              class="avatar-md"
                            />
                            {% else %}
                            <img
                              src="{% static 'path/to/dummy-image.jpg' %}"
                              alt=""
                              class="avatar-md"
                            />
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      <div class="col-md">
                        <div>
                          <h4 class="fw-bold">{{product.name}}</h4>
                          <div class="hstack gap-3 flex-wrap">
                            {% comment %} name companie {% endcomment %}
                            <div>
                              <i class="ri-building-line align-bottom me-1"></i>
                              {{product.fk_business.name}}
                            </div>
                            <div class="vr"></div>
                            <div>
                              Create Date :
                              <span class="fw-medium">
                                {{product.date_created}}
                              </span>
                            </div>
                            <div class="vr"></div>
                            <div>
                              Updated Date :
                              <span class="fw-medium">
                                {{product.last_updated}}
                              </span>
                            </div>
                            <div class="vr"></div>
                            {% with
                            days_since_creation=product.date_created|timesince:current_datetime %}
                            {% if "day" in days_since_creation and days_since_creation|add:0 <= 5 %}
                            <div class="badge rounded-pill bg-info fs-12">
                              New
                            </div>
                            {% endif %} {% endwith %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="nav nav-tabs-custom border-bottom-0" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active fw-semibold"
                      data-bs-toggle="tab"
                      href="#project-overview"
                      role="tab"
                    >
                      Overview
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link fw-semibold"
                      data-bs-toggle="tab"
                      href="#project-simulations"
                      role="tab"
                    >
                      Simulations
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link fw-semibold"
                      data-bs-toggle="tab"
                      href="#project-team"
                      role="tab"
                    >
                      Variables
                    </a>
                  </li>
                </ul>
              </div>
              <!-- end card body -->
            </div>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="tab-content text-muted">
            <div class="tab-pane fade show active" id="project-overview" role="tabpanel">
              <div class="row">
                <div class="col-xl-9 col-lg-8">
                  <div class="card">
                    <div class="card-body">
                      <div class="text-muted">
                        <h6 class="mb-3 fw-semibold text-uppercase">
                          Description
                        </h6>
                        <p>{{product.description}}</p>

                        <div class="pt-3 border-top border-top-dashed mt-4">
                          <div class="row">
                            <div class="col-lg-3 col-sm-6">
                              <div>
                                <p class="mb-2 text-uppercase fw-medium">
                                  Create Date :
                                </p>
                                <h5 class="fs-15 mb-0">
                                  {{product.date_created}}
                                </h5>
                              </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                              <div>
                                <p class="mb-2 text-uppercase fw-medium">
                                  Due Date :
                                </p>
                                <h5 class="fs-15 mb-0">
                                  {{product.last_updated}}
                                </h5>
                              </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                              <div>
                                <p class="mb-2 text-uppercase fw-medium">
                                  Priority :
                                </p>
                                <div class="badge bg-danger fs-12">High</div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                              <div>
                                <p class="mb-2 text-uppercase fw-medium">
                                  Status :
                                </p>
                                <div class="badge bg-warning fs-12">
                                  Inprogress
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="pt-3 border-top border-top-dashed mt-4">
                          <h6 class="mb-3 fw-semibold text-uppercase">
                            Reports
                          </h6>
                          <div class="row g-3">
                            {% for report in reports %}
                            <div class="col-xxl-4 col-lg-6">
                              <div class="border rounded border-dashed p-2">
                                <div class="d-flex align-items-center">
                                  <div class="flex-shrink-0 me-3">
                                    <div class="avatar-sm">
                                      <div
                                        class="avatar-title bg-light text-secondary rounded fs-24"
                                      >
                                        <i class="ri-folder-zip-line"></i>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="fs-13 mb-1">
                                      <a href="#" class="text-body text-truncate d-block">
                                        App pages.zip
                                      </a>
                                    </h5>
                                    <div>2.2MB</div>
                                  </div>
                                  <div class="flex-shrink-0 ms-2">
                                    <div class="d-flex gap-1">
                                      <button
                                        type="button"
                                        class="btn btn-icon text-muted btn-sm fs-18"
                                      >
                                        <i class="ri-download-2-line"></i>
                                      </button>
                                      <div class="dropdown">
                                        <button
                                          class="btn btn-icon text-muted btn-sm fs-18 dropdown"
                                          type="button"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false"
                                        >
                                          <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li>
                                            <a class="dropdown-item" href="#">
                                              <i
                                                class="ri-pencil-fill align-bottom me-2 text-muted"
                                              ></i>
                                              Rename
                                            </a>
                                          </li>
                                          <li>
                                            <a class="dropdown-item" href="#">
                                              <i
                                                class="ri-delete-bin-fill align-bottom me-2 text-muted"
                                              ></i>
                                              Delete
                                            </a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- end col -->
                            {% empty %}
                            <div class="col text-center py-4">
                              <lord-icon
                                src="https://cdn.lordicon.com/msoeawqm.json"
                                trigger="loop"
                                colors="primary:#405189,secondary:#0ab39c"
                                style="width: 75px; height: 75px"
                              ></lord-icon>
                              <h5 class="mt-2">
                                Sorry, there isn't any equition registered in the database
                              </h5>
                              <p class="text-muted mb-0">
                                You have to "Add Business".
                              </p>
                            </div>
                            {% endfor %}
                          </div>
                          <!-- end row -->
                        </div>
                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->

                  <div class="card">
                    <div class="card-header align-items-center d-flex border-bottom-dashed">
                      <h4 class="card-title mb-0 flex-grow-1">Equations</h4>
                      <div class="flex-shrink-0">
                        <button
                          type="button"
                          class="btn btn-soft-danger btn-sm"
                          data-bs-toggle="modal"
                          data-bs-target="#inviteVariablesModal"
                        >
                          <i class="ri-share-line me-1 align-bottom"></i>
                          Add a Variable
                        </button>
                      </div>
                    </div>

                    <div class="card-body">
                      <div data-simplebar style="height: 235px" class="mx-n3 px-3">
                        <div class="vstack gap-3">
                          {% for equation in financial_equations %}
                          <div class="d-flex align-items-center">
                            <div class="avatar-xs flex-shrink-0 me-3">
                              <img
                                src="{% static 'images/users/avatar-2.webp' %}"
                                alt=""
                                class="img-fluid rounded-circle"
                              />
                            </div>
                            <div class="flex-grow-1">
                              <h5 class="fs-13 mb-0">
                                <a href="#" class="text-body d-block">
                                  {{ equation.name }}
                                </a>
                              </h5>
                            </div>
                            <div class="flex-shrink-0">
                              <!-- Aquí puedes agregar botones o acciones para cada ecuación financiera -->
                            </div>
                          </div>
                          <!-- end equation item -->
                          {% empty %}
                          <div class="col text-center py-4">
                            <lord-icon
                              src="https://cdn.lordicon.com/msoeawqm.json"
                              trigger="loop"
                              colors="primary:#405189,secondary:#0ab39c"
                              style="width: 75px; height: 75px"
                            ></lord-icon>
                            <h5 class="mt-2">
                              Sorry, there isn't any equition registered in the database
                            </h5>
                            <p class="text-muted mb-0">
                              You have to "Add Business".
                            </p>
                          </div>
                          {% endfor %}
                        </div>
                        <!-- end list -->
                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- ene col -->
                <div class="col-xl-3 col-lg-4">
                  <div class="card">
                    <div class="card-header align-items-center d-flex border-bottom-dashed">
                      <h4 class="card-title mb-0 flex-grow-1">Simulations</h4>
                      <div class="flex-shrink-0">
                        <button type="button" class="btn btn-soft-info btn-sm" href="">
                          <i class="ri-upload-2-fill me-1 align-bottom"></i>
                          New Simulation
                        </button>
                      </div>
                    </div>
                    {% for simulation in simulations %}
                    <div class="card-body">
                      <div class="vstack gap-2">
                        <div class="border rounded border-dashed p-2">
                          <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar-sm">
                                <div class="avatar-title bg-light text-secondary rounded fs-24">
                                  <i class="ri-folder-zip-line"></i>
                                </div>
                              </div>
                            </div>
                            <div class="flex-grow-1 overflow-hidden">
                              <h5 class="fs-13 mb-1">
                                <a href="#" class="text-body text-truncate d-block">
                                  App-pages.zip
                                </a>
                              </h5>
                              <div>2.2MB</div>
                            </div>
                            <div class="flex-shrink-0 ms-2">
                              <div class="d-flex gap-1">
                                <button type="button" class="btn btn-icon text-muted btn-sm fs-18">
                                  <i class="ri-download-2-line"></i>
                                </button>
                                <div class="dropdown">
                                  <button
                                    class="btn btn-icon text-muted btn-sm fs-18 dropdown"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                  >
                                    <i class="ri-more-fill"></i>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a class="dropdown-item" href="#">
                                        <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                        Rename
                                      </a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" href="#">
                                        <i
                                          class="ri-delete-bin-fill align-bottom me-2 text-muted"
                                        ></i>
                                        Delete
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="mt-2 text-center">
                          <button type="button" class="btn btn-success">
                            View more
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- end card body -->
                    {% empty %}
                    <div class="col text-center py-4">
                      <lord-icon
                        src="https://cdn.lordicon.com/msoeawqm.json"
                        trigger="loop"
                        colors="primary:#405189,secondary:#0ab39c"
                        style="width: 75px; height: 75px"
                      ></lord-icon>
                      <h5 class="mt-2">
                        Sorry, there isn't any business registered in the database
                      </h5>
                      <p class="text-muted mb-0">You have to "Add Business".</p>
                    </div>
                    {% endfor %}
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end tab pane -->
            <div class="tab-pane fade" id="project-simulations" role="tabpanel">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <h5 class="card-title flex-grow-1">Simulations</h5>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="table-responsive table-card">
                        <table class="table table-borderless align-middle mb-0">
                          <thead class="table-light">
                            <tr>
                              <th scope="col">Simulation Name</th>
                              <th scope="col">Date Simulation</th>
                              <th scope="col" style="width: 120px">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for simulation in simulations %}
                            <tr>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="avatar-sm">
                                    <div class="avatar-title bg-light text-secondary rounded fs-24">
                                      <i class="ri-folder-zip-line"></i>
                                    </div>
                                  </div>
                                  <div class="ms-3 flex-grow-1">
                                    <h5 class="fs-14 mb-0">
                                      <a href="javascript:void(0)" class="text-body">
                                        {{simulation.name}}
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                              </td>
                              <td>{{simulation.date}}</td>
                              <td>
                                <div class="dropdown">
                                  <a
                                    href="javascript:void(0);"
                                    class="btn btn-soft-secondary btn-sm btn-icon"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="true"
                                  >
                                    <i class="ri-more-fill"></i>
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                      <a class="dropdown-item" href="javascript:void(0);">
                                        <i class="ri-eye-fill me-2 align-bottom text-muted"></i>
                                        View
                                      </a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" href="javascript:void(0);">
                                        <i
                                          class="ri-download-2-fill me-2 align-bottom text-muted"
                                        ></i>
                                        Report
                                      </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                      <a class="dropdown-item" href="javascript:void(0);">
                                        <i
                                          class="ri-delete-bin-5-fill me-2 align-bottom text-muted"
                                        ></i>
                                        Delete
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td>
                                <lord-icon
                                  src="https://cdn.lordicon.com/msoeawqm.json"
                                  trigger="loop"
                                  colors="primary:#405189,secondary:#0ab39c"
                                  style="width: 75px; height: 75px"
                                ></lord-icon>
                                <h5 class="mt-2">
                                  Sorry, there isn't any business registered in the database
                                </h5>
                                <p class="text-muted mb-0">
                                  You have to "Add Business".
                                </p>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end tab pane -->
            <div class="tab-pane fade" id="project-team" role="tabpanel">
              <div class="row g-4 mb-3">
                <div class="col-sm">
                  <div class="d-flex">
                    <div class="search-box me-2">
                      <input type="text" class="form-control" placeholder="Search member..." />
                      <i class="ri-search-line search-icon"></i>
                    </div>
                  </div>
                </div>
                <div class="col-sm-auto">
                  <div>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#inviteVariablesModal"
                    >
                      <i class="ri-share-line me-1 align-bottom"></i>
                      Add a Variable
                    </button>
                  </div>
                </div>
              </div>
              <!-- end row -->

              <div class="team-list list-view-filter">
                {% for variable in variables_product %}
                <div class="card team-box">
                  <div class="card-body px-4">
                    <div class="row align-items-center team-row">
                      <div class="col team-settings">
                        <div class="row align-items-center">
                          <div class="col">
                            <div class="flex-shrink-0 me-2">
                              <button type="button" class="btn fs-16 p-0 favourite-btn">
                                <i class="ri-star-fill"></i>
                              </button>
                            </div>
                          </div>
                          <div class="col text-end dropdown">
                            <a
                              href="javascript:void(0);"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                            >
                              <i class="ri-more-fill fs-17"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li>
                                <a class="dropdown-item" href="javascript:void(0);">
                                  <i class="ri-eye-fill text-muted me-2 align-bottom"></i>
                                  View
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item" href="javascript:void(0);">
                                  <i class="ri-star-fill text-muted me-2 align-bottom"></i>
                                  Favourite
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item" href="javascript:void(0);">
                                  <i class="ri-delete-bin-5-fill text-muted me-2 align-bottom"></i>
                                  Delete
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col">
                        <div class="team-profile-img">
                          <div class="avatar-lg img-thumbnail rounded-circle">
                            {% if variable.image_src %}
                            <img
                              src="{{ MEDIA_URL }}{{ variable.image_src.url }}"
                              alt=""
                              class="img-fluid d-block rounded-circle"
                            />
                            {% else %}
                            <img
                              src="{% static 'path/to/dummy-image.jpg' %}"
                              alt=""
                              class="img-fluid d-block rounded-circle"
                            />
                            {% endif %}
                          </div>
                          <div class="team-content">
                            <a href="#" class="d-block">
                              <h5 class="fs-16 mb-1">{{variable.name}}</h5>
                            </a>
                            <p class="text-muted mb-0">
                              {{variable.description}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col">
                        <div class="row text-muted text-center">
                          <div class="col-6 border-end border-end-dashed">
                            <h5 class="mb-1">{{variable.name}}</h5>
                            <p class="text-muted mb-0">equations</p>
                          </div>
                          <div class="col-6">
                            <h5 class="mb-1">{{variable.name}}</h5>
                            <p class="text-muted mb-0">Tasks</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-2 col">
                        <div class="text-end">
                          {% comment %}
                          <a href="{% url 'pages:pages.profile' %}" class="btn btn-light view-btn">
                            View Profile
                          </a>
                          {% endcomment %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end card-->
                {% empty %}
                <tr>
                  <div class="col text-center py-4">
                    <lord-icon
                      src="https://cdn.lordicon.com/msoeawqm.json"
                      trigger="loop"
                      colors="primary:#405189,secondary:#0ab39c"
                      style="width: 75px; height: 75px"
                    ></lord-icon>
                    <h5 class="mt-2">
                      Sorry, there isn't any business registered in the database
                    </h5>
                    <p class="text-muted mb-0">You have to "Add Business".</p>
                  </div>
                  <div class="text-center mt-3">
                    <a href="javascript:void(0);" class="text-success">
                      <i class="mdi mdi-loading mdi-spin fs-20 align-middle me-2"></i>
                      Load more
                    </a>
                  </div>
                </tr>
                {% endfor %}
              </div>

              <!-- end team list -->

              <div class="row g-0 text-center text-sm-start align-items-center mb-3">
                <div class="col-sm-6">
                  <div>
                    <p class="mb-sm-0">Showing 1 to 10 of 12 entries</p>
                  </div>
                </div>
                <!-- end col -->
                <div class="col-sm-6">
                  <ul
                    class="pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0"
                  >
                    <li class="page-item disabled">
                      <a href="#" class="page-link">
                        <i class="mdi mdi-chevron-left"></i>
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link">1</a>
                    </li>
                    <li class="page-item active">
                      <a href="#" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link">
                        <i class="mdi mdi-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end tab pane -->
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% block footer %} {% include "partials/footer.html" %} {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %} {% block extra_content %}
<!-- Modal -->
<div
  class="modal fade"
  id="inviteVariablesModal"
  tabindex="-1"
  aria-labelledby="inviteVariablesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header p-3 ps-4 bg-success-subtle">
        <h5 class="modal-title" id="inviteVariablesModalLabel">Variables</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <div class="search-box mb-3">
          <input
            type="text"
            class="form-control bg-light border-light"
            placeholder="Search here..."
          />
          <i class="ri-search-line search-icon"></i>
        </div>

        <div class="mb-4 d-flex align-items-center">
          <div class="me-2">
            <h5 class="mb-0 fs-13">Variables :</h5>
          </div>
          <div class="avatar-group justify-content-center">
            <a
              href="javascript: void(0);"
              class="avatar-group-item"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              data-bs-placement="top"
              title="Brent Gonzalez"
            >
              <div class="avatar-xs">
                <img
                  src="{% static 'images/users/avatar-3.webp'%}"
                  alt=""
                  class="rounded-circle img-fluid"
                />
              </div>
            </a>
            <a
              href="javascript: void(0);"
              class="avatar-group-item"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              data-bs-placement="top"
              title="Sylvia Wright"
            >
              <div class="avatar-xs">
                <div class="avatar-title rounded-circle bg-secondary">S</div>
              </div>
            </a>
            <a
              href="javascript: void(0);"
              class="avatar-group-item"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              data-bs-placement="top"
              title="Ellen Smith"
            >
              <div class="avatar-xs">
                <img
                  src="{% static 'images/users/avatar-4.webp'%}"
                  alt=""
                  class="rounded-circle img-fluid"
                />
              </div>
            </a>
          </div>
        </div>
        <div class="mx-n4 px-4" data-simplebar style="max-height: 225px">
          <div class="vstack gap-3">
            <div class="d-flex align-items-center">
              <div class="avatar-xs flex-shrink-0 me-3">
                <img
                  src="{% static 'images/users/avatar-2.webp'%}"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
              <div class="flex-grow-1">
                <h5 class="fs-13 mb-0">
                  <a href="#" class="text-body d-block">Nancy Martino</a>
                </h5>
              </div>
              <div class="flex-shrink-0">
                <button type="button" class="btn btn-light btn-sm">Add</button>
              </div>
            </div>
            <!-- end member item -->
          </div>
          <!-- end list -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light w-xs" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-success w-xs">Invite</button>
      </div>
    </div>
    <!-- end modal-content -->
  </div>
  <!-- modal-dialog -->
</div>
<!-- end modal -->
{% endblock extra_content %} {% block extra_js %}
<script src="{% static 'js/pages/project-overview.init.js'%}"></script>
{% endblock extra_js %}
