<div class="modal fade zoomIn" id="addOrUpdateProductLabel" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOrUpdateProductLabel">Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-content border-0 mt-3">
                <ul class="nav nav-tabs nav-tabs-custom nav-success p-2 pb-0 bg-light" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false">
                            Detalles del Producto
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="productDetails" role="tabpanel">
                        <form id="productForm">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" id="product_id" value="">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Nombre del Producto</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                            placeholder="Introduce el nombre del producto" required />
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="type" class="form-label">Tipo de Producto</label>
                                        <select class="form-control" id="type" name="type" required>
                                            <option value="">Selecciona tipo</option>
                                            <option value="Lácteos">Lácteos</option>
                                            <option value="Queso">Queso</option>
                                            <option value="Yogur">Yogur</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="fk_business" class="form-label">Negocio</label>
                                        <select class="form-control" id="fk_business" name="fk_business" required>
                                            <option value="">Selecciona tipo</option>
                                            {% for business in businesses %}
                                            <option value="{{business.id}}">{{business.name}}</option>
                                            {% empty %}
                                            <option value=".">...</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="image_src" class="form-label">Imagen del Producto</label>
                                        <input type="file" class="form-control" id="image_src" name="image_src"
                                            required />
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Descripción del Producto</label>
                                        <textarea class="form-control" id="description" name="description" rows="3"
                                            placeholder="Introduce la descripción del producto" required></textarea>
                                        <div class="invalid-feedback">
                                            Por favor, introduce una descripción para el producto.
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button class="btn btn-link link-success text-decoration-none fw-medium"
                                            data-bs-dismiss="modal">
                                            <i class="ri-close-line me-1 align-middle"></i>
                                            Cerrar
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="saveProduct()">
                                            <i class="ri-save-3-line align-bottom me-1"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end modal-->

<div class="modal fade" id="addArea" tabindex="-1" aria-labelledby="addArealabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header p-3 ps-4 bg-success-subtle">
                <h5 class="modal-title" id="addArealabel">Area</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form id="areaForm" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="area_id" id="area_id" value="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre del Área <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Introduce el nombre del área" required />
                                <div class="invalid-feedback">
                                    Por favor, introduce el nombre del área.
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="fk_business" class="form-label">Producto Asociado <span class="text-danger">*</span></label>
                                <select class="form-control" id="fk_business" name="fk_business" required>
                                    <option value="">Selecciona el producto</option>
                                    {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.name }}</option>
                                    {% empty %}
                                    <option value=".">...</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Por favor, selecciona un producto.
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="image_src" class="form-label">Imagen del Área <span class="text-danger">*</span></label>
                                <input type="file" class="form-control" id="image_src" name="image_src" required />
                                <div class="invalid-feedback">
                                    Por favor, selecciona una imagen.
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="description" class="form-label">Descripción del Área <span class="text-danger">*</span></label>
                                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Introduce la descripción del área" required></textarea>
                                <div class="invalid-feedback">
                                    Por favor, introduce una descripción
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button class="btn btn-link link-success text-decoration-none fw-medium"
                                            data-bs-dismiss="modal">
                                            <i class="ri-close-line me-1 align-middle"></i>
                                            Cerrar
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="ri-save-3-line align-bottom me-1"></i>
                                            {% if is_update %}
                                                Actualizar
                                            {% else %}
                                                Guardar
                                            {% endif %}
                                        </button>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                </div>
            </div>
        </div>