<div class="main-content">

    <div class="page-content">
      <div class="container-fluid">
  
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">INICIO</h4>
  
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">MENU</a></li>
                  <li class="breadcrumb-item active">INICIO</li>
                </ol>
              </div>
  
            </div>
          </div>
        </div>
        <!-- end page title -->
  
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Simulacion de escenarios</h4>
              </div>
              <div class="card-body">
                <form (ngSubmit)="submitForm()">
                  <div class="mb-3">
                    <div class="input-group">
                      <label class="input-group-text" for="inputGroupSelect01">Escenario</label>
                      <select class="form-select" id="inputGroupSelect01" [(ngModel)]="selectedScenario">
                        <option value="1">Positivo</option>
                        <option value="2">Normal</option>
                        <option value="3">Negativo</option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="employeeUrl" class="form-label">Unidad de tiempo</label>
                    <select class="form-select" id="inputGroupSelect02" [(ngModel)]="selectedTimeUnit">
                      <option value="1">Dias</option>
                      <option value="2">Semanas</option>
                      <option value="3">Meses</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="StartleaveDate" class="form-label">Fecha de inicio</label>
                    <input type="date" class="form-control" id="StartleaveDate" [(ngModel)]="startDate">
                  </div>
                  <div class="mb-3">
                    <label for="EndleaveDate" class="form-label">Fecha Final</label>
                    <input type="date" class="form-control" id="EndleaveDate" [(ngModel)]="endDate">
                  </div>
                  <div class="text-end">
                    <button type="submit" class="btn btn-primary">Realizar Simulacion</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title mb-0">Tabla de vista</h4>
              </div>
              <div class="card-body">
                <div id="table-fixed-header"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
  </div>
  <!-- end main content-->
  