{% extends "partials/base.html" %}
{% load static %}
{% block title %}Simulate Init{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="Simulate" title="Init" %}
                        {% endblock pagetitle %}
    
                        <div class="row">
                            <div class="col-xxl-6">
                                <div class="card">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1"></h4>
                                    </div><!-- end card header -->

                                    <div class="card-body">
                                        <p class="text-muted">Realize a Simulation with the next params</p>
                                        <div class="live-preview">
                                            <form action="javascript:void(0);">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label for="ForminputState" class="form-label"><span data-key="t-product"> Product</span></label>
                                                            <select id="ForminputState" class="form-select" data-choices data-choices-sorting="true" >
                                                                <option selected>Choose...</option>
                                                                {% for product in products %}
                                                                <option>{{ product.name }}</option>
                                                                {% empty %}
                                                                <option>...</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label for="compnayNameinput" class="form-label"><span data-key="t-demandhistory"> Historic Demand</span></label>

                                                            <input type="text" class="form-control" placeholder="Enter the historic demand" id="compnayNameinput">
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label for="lastNameinput" class="form-label"><span data-key="t-timeunit"> Unit of time</span></label>

                                                            <select id="ForminputState" class="form-select" data-choices data-choices-sorting="true" >
                                                                <option selected>Choose...</option>\
                                                                <option value="1">year</option>
                                                                <option value="2">month</option>
                                                                <option value="2">day</option>
                                                            </select>
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label for="compnayNameinput" class="form-label"><span data-key="t-demandhistory"> Elements that want to show inn the graphic and table</span></label>
                                                            <label>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                                                    <label class="form-check-label" for="autoSizingCheck2">
                                                                        Financial Statements
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                                                    <label class="form-check-label" for="autoSizingCheck2">
                                                                        Key Performance Indicators
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                                                    <label class="form-check-label" for="autoSizingCheck2">
                                                                        Scenario Analysis Tables
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                                                    <label class="form-check-label" for="autoSizingCheck2">
                                                                        Sensitivity Analysis
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                                                    <label class="form-check-label" for="autoSizingCheck2">
                                                                        Comparative Analysis
                                                                    </label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-md-4">
                                                        <div class="mb-3">
                                                            <label for="lastNameinput" class="form-label"><span data-key="t-timeunit"> Information of questionary to use</span></label>

                                                            <select id="ForminputState" class="form-select" data-choices data-choices-sorting="true" >
                                                                <option selected>Choose...</option>
                                                                {% for questionary in questionaries %}
                                                                <option value="1">{{questionary.name}}</option>
                                                                {% empty %}
                                                                <option>...</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-md-12">
                                                        <div id="selectedDetails">
                                                            <!-- Aquí se mostrarán los detalles del elemento seleccionado -->
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <div class="text-init">
                                                            <button type="submit" class="btn btn-dark">Clear</button>
                                                        </div>
                                                        <div class="text-end">
                                                            <button type="submit" class="btn btn-primary">Init</button>
                                                        </div>
                                                    </div><!--end col-->
                                                </div><!--end row-->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-xxl-6">
                                <div class="card">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">Gráfico Lineal</h4>
                                    </div><!-- end card header -->
                                </div>
                                <canvas id="myChart" width="100" height="50"></canvas>                          
                            </div> <!-- end col -->
                        </div><!--end row-->
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <h1>Equations</h1>
                                    <ul>
                                        {% for equation in equations %}
                                            <li>
                                                <h2>{{ equation.name }}</h2>
                                                <p>{{ equation.equation }}</p>
                                                <p>Variables: {{ equation.variables }}</p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Simulate Table</h4>
                                    </div><!-- end card header -->
    
                                    <div class="card-body">
                                        <div id="customerList">
                                            <div class="table-responsive table-card mt-3 mb-1">
                                                <table class="table align-middle table-nowrap" id="simulateTable">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th scope="col" style="width: 50px;">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                                </div>
                                                            </th>
                                                            <th class="sort" data-sort="date">Date</th>
                                                            <th class="sort" data-sort="variable">Variable</th>
                                                            <th class="sort" data-sort="unit">Unit</th>
                                                            <th class="sort" data-sort="unit_time">Unit of time</th>
                                                            <th class="sort" data-sort="result">Result</th>
                                                            </tr>
                                                    </thead>
                                                    <tbody class="">
                                                        <tr>
                                                            <td class="date">{{simulate.date}}</td>
                                                            <td class="variable">{{simulate.variable}}</td>
                                                            <td class="unit">{{simulate.unit}}</td>
                                                            <td class="unit_time">{{simulate.unittime}}</td>  
                                                            <td class="result">{{simulate.result}}</td>                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                    <div class="noresult" style="display: none">
                                                        <div class="text-center">
                                                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                                colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                            </lord-icon>
                                                            <h5 class="mt-2">Sorry! No Result Found</h5>
                                                            <p class="text-muted mb-0"></p>
                                                        </div>
                                                    </div>
                                            </div>
                                            
                                            <div class="d-flex justify-content-end">
                                                <div class="pagination-wrap hstack gap-2">
                                                    <a class="page-item pagination-prev disabled" href="javascript:void(0);">
                                                        Previous
                                                    </a>
                                                    <ul class="pagination listjs-pagination mb-0"></ul>
                                                    <a class="page-item pagination-next" href="javascript:void(0);">
                                                        Next
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card -->
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>       
    <script>
        // Obtén una referencia al elemento canvas
        var ctx = document.getElementById('myChart').getContext('2d');

        // Define los datos para el gráfico
        var data = {
            labels: [],
            datasets: [{
                label: 'En Espera',
                data: [],
                backgroundColor: 'rgba(255, 255, 255, 0)',  // Transparent background
                borderColor: 'rgba(255, 255, 255, 0)',      // Transparent border
                borderWidth: 1
            }]
        };

        // Configura las opciones del gráfico
        var options = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        // Crea el gráfico lineal
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });

        // Function to update the chart with data
        function updateChart(data) {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    
        // Function to update the table with data
        function updateTable(data) {
            var tableBody = document.querySelector("#simulateTable tbody");
            tableBody.innerHTML = ""; // Clear the existing table rows
            for (var i = 0; i < data.length; i++) {
                var row = data[i];
                var newRow = tableBody.insertRow();
                newRow.innerHTML = "<td>" + row.date + "</td><td>" + row.variable + "</td><td>" + row.unit + "</td><td>" + row.unit_time + "</td><td>" + row.result + "</td>";
            }
        }
    
        // Add a click event listener to the "Init" button
        document.getElementById("initButton").addEventListener("click", function () {
            // Make an AJAX request to your Django view to fetch data
            $.ajax({
                type: "GET",
                url: "{% url 'simulate:simulate.init' %}", // Replace with the actual URL of your Django view
                success: function (data) {
                    // Update the chart and table with the retrieved data
                    updateChart(data.chartData);
                    updateTable(data.tableData);
                },
                error: function () {
                    alert("Error fetching data from the server.");
                }
            });
        });
    </script>
    <script>
        // Agregar un evento de cambio al elemento select
        document.getElementById("ForminputState").addEventListener("change", function () {
            // Obtener el elemento seleccionado
            var selectedOption = this.options[this.selectedIndex];
    
            // Obtener los detalles del elemento seleccionado
            var details = selectedOption.getAttribute("data-details");
    
            // Mostrar los detalles en un área específica
            var selectedDetails = document.getElementById("selectedDetails");
            selectedDetails.innerHTML = details;
        });
    </script>
{% endblock extra_js %}