{% extends "partials/base.html" %}
{% load static %}
{% block title %}Simulate Init{% endblock title %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/joint.css' %}"> 
<!-- dropzone css -->
<link rel="stylesheet" href="{% static 'libs/dropzone/dist/dropzone.css'%}" type="text/css" />

<!-- Filepond css -->
<link rel="stylesheet" href="{% static 'libs/filepond/dist/filepond.min.css'%}" type="text/css" />
<link rel="stylesheet" href="{% static 'libs/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css" integrity="sha512-Xr6mUq4Wt5T7Bw6FQPhZcY6wPo6nqmFTfZyU+7xFCTk3mAFLqvcgdbBj+Pf+v+KqDkIXwXQxCVeLwBl+KZ8k4g==" crossorigin="anonymous" />
{% endblock extra_css %}
    
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="Simulate" title="Init" %}
                        {% endblock pagetitle %}
                        <div class="card rounded-0 bg-success-subtle mx-n4 mt-n4 border-top">
                            <div class="px-4">
                                <div class="row">
                                    <div class="col-xxl-9 align-self-center">
                                        <div class="py-4">
                                            <h4 class="display-6 -text">SIMULAR</h4>
                                            <div class="container">                      
                                              <p>Explore nuestra lista completa de productos que presenta una amplia gama de artículos obtenidos de 
                                                nuestra extensa base de datos. Esta plataforma fácil de usar le permite tomar el control de su inventario
                                                 de productos sin esfuerzo. Si usted es propietario de un negocio, administrador de existencias o 
                                                 simplemente alguien apasionado por la organización, esta página está diseñada pensando en usted.</p>
                                              <h2>Características clave:</h2>
                                              <ul>
                                                <li>
                                                    <span class="text-success">Información del cuestionario a utilizar para la simulación:</span> <p>Seleccione el cuestionario que desea utilizar para la simulación.</p>
                                                </li>
                                                <li>
                                                    <span class="text-primary">Unit of time:</span> <p>Seleccione la unidad de tiempo que desea utilizar para la simulación.</p>
                                                </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 ms-auto">
                                        <div class="mb-n5 pb-1 faq-img d-none d-xxl-block">
                                            <img src="{% static 'images/simulate-img.webp'%}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-xxl-4">
                                        <div class="card">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Simulación de parámetros</h4>
                                            </div><!-- end card header -->                                        
                                            <div class="card-body">
                                                <p class="text-muted">Realice una simulación con los siguientes parámetros</p>
                                                <div class="live-preview">
                                                    Selected: {{selected}}
                                                    Started: {{simulation_started}}
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                {% if not selected%}
                                                                    <form method="GET" action="{% url 'simulate:simulate.init' %}" onsubmit=validateForm3()>
                                                                        {% csrf_token %}
                                                                        <div class="mb-4">
                                                                            <label for="selected_questionary_result" class="form-label" title="Select the information to use in the simulation">
                                                                                <span data-key="t-timeunit"> Información del cuestionario para usar para la simulación</span>
                                                                            </label>
                                                                            <select id="selected_questionary_result" name="selected_questionary_result" class="form-select" data-choices data-choices-sorting="true">
                                                                                <option selected>Elegir...</option>
                                                                                {% for questionary_result in questionnaires_result %}
                                                                                    <option value="{{ questionary_result.id }}">Resultado de cuestionario: {{ questionary_result.id }}</option>
                                                                                {% empty %}
                                                                                    <option>...</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                            <button type="submit" name="select" class="btn btn-primary">Seleccionar</button>
                                                                        </div>
                                                                    </form>
                                                                {% else %}
                                                                    <form method="POST" action="{% url 'simulate:simulate.init' %}">
                                                                        {% csrf_token %}
                                                                        <div class="mb-3">
                                                                            <span data-key="t-result"> Resultados que se eligió: {{ selected_questionary_result }} </span>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <button type="submit" name="cancel" class="btn btn-danger">Cancelar selección</button>
                                                                        </div>
                                                                    </form>
                                                                {% endif %}
                                                            </div><!--end col-->
                                                            <form action="{% url 'simulate:simulate.init' %}" method="post" id="simulateForm" onsubmit="return validateForm()">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="question_id" value="{{ selected_questionary_result_id }}">
                                                                <div class="col-md-12">
                                                                    <div class="mb-3">
                                                                        <label for="unit_time" class="form-label" title="Select the unit of time you want to use"><span data-key="t-timeunit"> Unit of time</span></label>
                                            
                                                                        <select id="unit_time" class="form-select" data-choices data-choices-sorting="true" >
                                                                            <option selected>Elegir...</option>
                                                                            <option value="1">año</option>
                                                                            <option value="2">mes</option>
                                                                            <option value="2">día</option>
                                                                        </select>
                                                                    </div>
                                                                </div><!--end col-->
                                                                <div class="col-lg-12">
                                                                    <div class="d-flex justify-content-between">
                                                                        <button type="submit" name="start" class="btn btn-primary">Iniciar simulación</button>
                                                                        </div>
                                                                    </div><!--end col-->
                                                                </div><!--end row-->
                                                            </form>
                                                        </div><!--end row-->
                                                </div><!--end live-preview-->
                                            </div> <!-- end col -->
                                        </div>
                                    {% comment %} </div> {% endcomment %}
                                    <div class="col-lg-8">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Información previa</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h5>Ecuaciones que se utilizaran para la simulacion</h5>
                                                        <ul>
                                                            {% for equation in equations_to_use %}
                                                                <li>
                                                                    <h6>{{ equation.name }}</h6>
                                                                    <p>{{ equation.equation }}</p>
                                                                    <p>Variables: {{ equation.variables }}</p>
                                                                </li>
                                                            {% empty %}
                                                                <p>No hay ecuaciones disponibles.</p>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h5>Ecuaciones con sus respectivos datos</h5>
                                                        <ul>
                                                            {% for equation in equations_with_values %}
                                                                <li>
                                                                    <h6>{{ equation.name }}</h6>
                                                                </li>
                                                            {% empty %}
                                                                <p>No hay ecuaciones con valores.</p>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h5>Detalles de simulación</h5>
                                                        {% if simulation_started %}
                                                            <p>¡Comenzó la simulación!</p>
                                                            <p>Paso actual: {{ simulation_instance.current_step }}</p>
                                                            <!-- Display simulation data for the current step -->
                                                        {% else %}
                                                            <p>No se inició una simulación.</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div><!--end row-->
                                
                                
                                

                            <div>
                        </div> <!-- container-fluid -->
                </div>
            </div>
                <!-- End Page-content -->
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>       
    <script src="{% static 'js/pages/joint.js' %}"></script>
    <!-- dropzone min -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js" integrity="sha512-vjeXE7PyNKQmUtsaO+t4fT80y8AGCPiHdM2AUxP2dG9KqDYZSfGAF4RqXUsXgD9PwtGZe5Jr9Ok6mbT7FpQlgg==" crossorigin="anonymous"></script>
    <script src="{% static 'libs/dropzone/dist/dropzone-min.js'%}"></script>

    <script>
        function validateForm3() {
            var selectedQuestionary = document.getElementById('inputGroupSelect01').value;
            // Validate if a questionary is selected
            if (selectedQuestionary === 'Choose...') {
                alert('Please select a questionary.');
                return false;
            }
            // Add more validations if needed
            return true; // Submit the form if all validations pass
        }
    </script>
    <script>
        function validateForm() {
            var unitTime = document.getElementById("unit_time").value;

            // Verifica si se ha seleccionado una unidad de tiempo
            if (unitTime === "Elegir...") {
                alert("Por favor, selecciona una unidad de tiempo.");
                return false; // Evita que el formulario se envíe
            }

            // Puedes agregar más validaciones según tus necesidades

            return true; // Permite que el formulario se envíe
        }
    </script>
    <script>
        Dropzone.options.myDropzone = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 5, // MB
            previewsContainer: ".dropzone",
            clickable: true,
            acceptedFiles: ".txt",
            maxFiles: 1, // Only one file
            init: function() {
                this.on("addedfile", function(file) {
                    if (this.files.length > 1) {
                        this.removeFile(this.files[0]);
                    }
                });
                this.on("success", function(file, responseText) {
                    // Check if the file has at least 30 data points
                    var dataPoints = responseText.split('\n');
                    if (dataPoints.length < 30) {
                        alert("The file must contain at least 30 data points.");
                        this.removeFile(file);
                    }
                });
            }
        };
    </script>


{% endblock extra_js %}