<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Sitemap" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
              <h4 class="card-title mb-0">Responsive Sitemap</h4>
          </div>
          <div class="card-body">
              <div class="sitemap-content">
                  <figure class="sitemap-horizontal">
                      <ul class="administration">
                          <li>
                              <ul class="director">
                                  <li>
                                      <a href="javascript:void(0);" class="fw-semibold"><span>FindemPro</span></a>
                                      <ul class="subdirector">
                                          <li><a href="javascript:void(0);" class="fw-semibold"><span>Contact Us</span></a></li>
                                      </ul>
                                      <ul class="departments">
                                          <li><a href="javascript:void(0);" class="fw-semibold"><span>Main Pages</span></a></li>

                                          <li class="department">
                                              <a href="javascript:void(0);" class="fw-semibold"><span>Home</span></a>
                                              <ul>
                                                  <li><a href="javascript:void(0);"><span>Sign Up</span></a></li>
                                                  <li><a href="javascript:void(0);"><span>Login</span></a></li>
                                                  <li><a href="javascript:void(0);"><span>Profile Settings</span></a></li>
                                              </ul>
                                          </li>
                                          <li class="department">
                                              <a href="javascript:void(0);" class="fw-semibold"><span>Product</span></a>
                                              <ul>
                                                  <li><a href="javascript:void(0);"><span>Overview</span></a></li>
                                                  <li><a href="javascript:void(0);"><span>Connect Via Social Media</span></a></li>
                                              </ul>
                                          </li>
                                          <li class="department">
                                              <a href="javascript:void(0);" class="fw-semibold"><span>Variable</span></a>
                                              <ul>
                                                  <li><a href="javascript:void(0);"><span>Travel Details</span></a></li>
                                                  <li><a href="javascript:void(0);"><span>Reservation Process</span></a></li>
                                              </ul>
                                          </li>
                                          <li class="department">
                                              <a href="javascript:void(0);" class="fw-semibold"><span>Simulate</span></a>
                                              <ul>
                                                  <li><a href="javascript:void(0);"><span>Architecture</span></a></li>
                                                  <li><a href="javascript:void(0);"><span>Art</span></a></li>
                                              </ul>
                                          </li>
                                          <li class="department">
                                              <a href="javascript:void(0);" class="fw-semibold"><span>Dashboard</span></a>
                                              <ul>
                                                  <li><a href="javascript:void(0);"><span>General Travel</span></a></li>
                                                  <li><a href="javascript:void(0);"><span>Helpth Concerns</span></a></li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </figure>
              </div><!--end sitemap-content-->
          </div><!--end card-body-->
      </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->
