<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{currentYear}}  © UCB-SIS.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                Diseñado y desarrollado por Sergio Troche.
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <p class="mb-0">&copy; {{currentYear}} Fidempro-Lacteos <i class="mdi mdi-heart text-danger"></i> por Sergio Troche</p>
          </div>
        </div>
      </div>
    </div>
  </footer> -->