{% extends "partials/base.html" %}
{% load static %}
{% block title %}política de privacidad{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="Páginas" title="política de privacidad" %}
                        {% endblock pagetitle %}
    
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="card">
                                    <div class="bg-warning-subtle position-relative">
                                        <div class="card-body p-5">
                                            <div class="text-center">
                                                <h3>política de privacidad</h3>
                                                <p class="mb-0 text-muted">Última actualización: 16 de septiembre de 2022</p>
                                            </div>
                                        </div>
                                        <div class="shape">
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="60" preserveAspectRatio="none" viewBox="0 0 1440 60">
                                                <g mask="url(&quot;#SvgjsMask1001&quot;)" fill="none">
                                                    <path d="M 0,4 C 144,13 432,48 720,49 C 1008,50 1296,17 1440,9L1440 60L0 60z" style="fill: var(--vz-secondary-bg);"></path>
                                                </g>
                                                <defs>
                                                    <mask id="SvgjsMask1001">
                                                        <rect width="1440" height="60" fill="#ffffff"></rect>
                                                    </mask>
                                                </defs>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="card-body p-4">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <i data-feather="check-circle" class="text-success icon-dual-success icon-xs"></i>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5>Política de privacidad para FindEmpro</h5>
                                                <p class="text-muted">A nombre del sitio web, accesible en el sitio web.com, una de nuestras principales prioridades es la privacidad de nuestros visitantes.Este documento de Política de privacidad contiene tipos de información que se recopila y registra por el nombre del sitio web y cómo la usamos.</p>
                                                <p class="text-muted">Si tiene preguntas adicionales o requiere más información sobre nuestra Política de privacidad, no dude en contactarnos por correo electrónico a correo electrónico@website.com </p>
                                                <p class="text-muted">Esta política de privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de nuestro sitio web con respecto a la información que compartieron y/o recopilan en el nombre del sitio web.Esta política no es aplicable a ninguna información recopilada fuera de línea o a través de canales que no sean este sitio web.</p>
                                                <p class="text-muted">Cómo usamos su información:</p>
                                                <ul class="text-muted">
                                                    <li>
                                                        <p>Hay muchas variaciones de pasajes de Lorem Ipsum disponibles, pero la mayoría ha sufrido alteración de alguna forma, por humor inyectado o palabras aleatorias que ni siquiera parecen ligeramente creíbles.</p>
                                                    </li>
                                                    <li>
                                                        <p>Si vas a usar un pasaje de Lorem Ipsum, debes asegurarte de que no hay nada vergonzoso escondido en medio del texto.Todos los generadores Lorem Ipsum en Internet tienden a repetir fragmentos predefinidos según sea necesario, lo que hace que este sea el primer generador verdadero en Internet.</p>
                                                    </li>
                                                    <li>
                                                        <p>Por otro lado, denunciamos con una indignación justa y no les gustan los hombres que están tan engañados y desmoralizados por los encantos de placer del momento.</p>
                                                    </li>
                                                    <li>
                                                        <p>Utiliza un diccionario de más de 200 palabras latinas, combinadas con un puñado de estructuras de oraciones modelo, para generar lorem ipsum que parece razonable.El Lorem ipsum generado, por lo tanto, siempre está libre de repetición, humor inyectado o palabras no características, etc.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <i data-feather="check-circle" class="text-success icon-dual-success icon-xs"></i>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5>Cómo usamos su información</h5>
                                                <p class="text-muted">Si nos contacta directamente, podemos recibir información adicional sobre usted, como su nombre, dirección de correo electrónico, número de teléfono, el contenido del mensaje y/o archivos adjuntos que puede enviarnos, y cualquier otra información que pueda elegir proporcionar.</p>
                                                <p class="text-muted">Comuníquese con usted, ya sea directamente o a través de uno de nuestros socios, incluso para el servicio al cliente, para proporcionarle actualizaciones y otra información relacionada con el sitio web, y con fines de marketing y promocionales.</p>
                                                <p class="text-muted">Cuando se registra para una cuenta, podemos solicitar su información de contacto, incluidos elementos como nombre, nombre de la empresa, dirección, dirección de correo electrónico y número de teléfono.</p>
                                                <p class="text-muted">Utilizamos la información que recopilamos de varias maneras, incluso para:</p>
                                                <ul class="text-muted vstack gap-2">
                                                    <li>
                                                        Proporcionar, operar y mantener nuestro sitio web
                                                    </li>
                                                    <li>
                                                        Mejorar, personalizar y expandir nuestro sitio web
                                                    </li>
                                                    <li>
                                                        Comprender y analizar cómo usa nuestro sitio web
                                                    </li>
                                                    <li>
                                                       Desarrollar nuevos productos, servicios, características y funcionalidad
                                                    </li>
                                                    <li>
                                                        Enviarle correos electrónicos
                                                    </li>
                                                    <li>
                                                    Encontrar y prevenir fraude
                                                    </li>
                                                </ul>
                                                <p class="text-muted">Como cualquier otro sitio web, el nombre del sitio web utiliza "cookies".Estas cookies se utilizan para almacenar información, incluidas las preferencias de los visitantes, y las páginas en el sitio web a las que el visitante accedió o visitó.La información se utiliza para optimizar la experiencia de los usuarios personalizando el contenido de nuestra página web en función del tipo de navegador de los visitantes y/u otra información.</p>
                                            </div>
                                        </div>
    
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <i data-feather="check-circle" class="text-success icon-dual-success icon-xs"></i>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted">Algunos de los anunciantes en nuestro sitio pueden usar cookies y balizas web.Nuestros socios publicitarios se enumeran a continuación.Cada uno de nuestros socios publicitarios tiene su propia política de privacidad para sus políticas sobre los datos del usuario.Para un acceso más fácil, hipervinamos a sus políticas de privacidad a continuación.</p>
                                                <p class="text-muted"><b>La Política de privacidad del nombre del sitio web no se aplica a otros anunciantes o sitios web.Por lo tanto, le aconsejamos que consulte las políticas de privacidad respectivas de estos servidores publicitarios de terceros para obtener información más detallada.Puede incluir sus prácticas e instrucciones sobre cómo optar por no participar en ciertas opciones.Puede encontrar una lista completa de estas políticas de privacidad y sus enlaces aquí: enlaces de política de privacidad.</b></p>
                                            </div>
                                        </div>
    
    
                                        <div class="text-end">
                                            <a href="{% url 'dashboard:index'%}" class="btn btn-danger">Soy entender</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
    
                {% block footer %}
                {% include "partials/footer.html" %}
                {% endblock footer %}
            </div>
            <!-- end main content-->
                       

                        

{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}