{% extends "partials/base.html" %} {% load static %} {% block title %}Terms &
Conditions{% endblock title %} {% block extra_css %} {% endblock extra_css %} {%
block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      {% block pagetitle %} {% include "partials/page-title.html" with
      pagetitle="Pages" title="Terms & Conditions" %} {% endblock pagetitle %}

      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="card">
            <div class="bg-warning-subtle position-relative">
              <div class="card-body p-5">
                <div class="text-center">
                  <h3>Terms & Conditions</h3>
                  <p class="mb-0 text-muted">Last update: 30 Nov, 2023</p>
                </div>
              </div>
              <div class="shape">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  version="1.1"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:svgjs="http://svgjs.com/svgjs"
                  width="1440"
                  height="60"
                  preserveAspectRatio="none"
                  viewBox="0 0 1440 60"
                >
                  <g mask='url("#SvgjsMask1001")' fill="none">
                    <path
                      d="M 0,4 C 144,13 432,48 720,49 C 1008,50 1296,17 1440,9L1440 60L0 60z"
                      style="fill: var(--vz-secondary-bg)"
                    ></path>
                  </g>
                  <defs>
                    <mask id="SvgjsMask1001">
                      <rect width="1440" height="60" fill="#ffffff"></rect>
                    </mask>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="card-body p-4">
              <div>
                <h5>Welcome to findempro!</h5>
                <p class="text-muted">
                  These terms and conditions outline the rules and regulations
                  for the use of the web system dedicated to supporting
                  financial decision making for SMEs in the dairy sector based
                  on the behavior of demand using probabilistic density
                  functions and simulation, hereinafter referred to as
                  "Findempro"
                </p>
                <p class="text-muted">
                  By accessing this website, we assume you accept these terms
                  and conditions. Do not continue to use the Website if you do
                  not agree to take all of the terms and conditions stated on
                  this page.
                </p>
                <p class="text-muted">
                  Most interactive websites use cookies to let us retrieve the
                  user's details for each visit. Cookies are used by our website
                  to enable the functionality of certain areas to make it easier
                  for people visiting our website. Some of our
                  affiliate/advertising partners may also use cookies.
                </p>
              </div>

              <div>
                <h5>1. Acceptance of Terms and Conditions:</h5>
                <p class="text-muted">
                  By using this web system, you agree to comply with and be
                  bound by these terms and conditions. If you do not agree,
                  please refrain from using the system. Users must explicitly
                  click an "I Agree" button or similar action to demonstrate
                  their acceptance of these terms and conditions.
                </p>
                <h5>2. Purpose of the System:</h5>
                <p class="text-muted">
                  This web system is designed to support financial
                  decision-making for Small and Medium-sized Enterprises (SMEs)
                  in the dairy sector by utilizing probabilistic density
                  functions and simulation to analyze demand behavior. The
                  system is intended for educational and informational purposes
                  and is not a substitute for professional financial advice.
                </p>
                <h5>3. Accuracy and Reliability:</h5>
                <p class="text-muted">
                  The system strives to provide accurate and reliable
                  information, but it does not guarantee the accuracy of the
                  data or the success of financial decisions made based on it.
                  Users should use their judgment. Users should conduct
                  additional research and consult with financial professionals
                  before making significant financial decisions.
                </p>
                <h5>4. Data Privacy:</h5>
                <p class="text-muted">
                  The system will collect, store, and process user data. User
                  data will be handled in accordance with the Privacy Policy,
                  which is considered an integral part of these terms and
                  conditions. The Privacy Policy should detail how user data is
                  collected, stored, and protected, and how it may be shared or
                  used.
                </p>
                <h5>5. User Responsibilities:</h5>
                <p class="text-muted">
                  Users must not misuse or attempt to compromise the security of
                  the system. Users are responsible for maintaining the
                  confidentiality of their account credentials. Users are
                  encouraged to report any security vulnerabilities or
                  suspicious activity to the system provider promptly.
                </p>
                <h5>6. Intellectual Property:</h5>
                <p class="text-muted">
                  ll content, software, and materials on the system are
                  protected by intellectual property rights and are owned or
                  licensed by the system provider. Users may not reproduce or
                  distribute this content without explicit permission.
                  Unauthorized use or distribution of the system's content may
                  result in legal action or account termination.
                </p>
                <h5>7. Limitation of Liability:</h5>
                <p class="text-muted">
                  The system provider is not responsible for any financial
                  decisions or actions taken by users based on the system's
                  information. The user assumes all responsibility for their
                  financial decisions. Users acknowledge that the system
                  provider is not liable for any losses or damages resulting
                  from their use of the system.
                </p>
                <h5>8. Third-Party Links:</h5>
                <p class="text-muted">
                  The system may include links to third-party websites. The
                  system provider is not responsible for the content, security,
                  or privacy practices of these external websites. Users should
                  review the terms and privacy policies of third-party websites
                  they access via the system.
                </p>
                <h5>9. Termination:</h5>
                <p class="text-muted">
                  The system provider may terminate or suspend a user's access
                  to the system for any violation of these terms and conditions
                  or any other reason deemed appropriate. Users will be provided
                  with notice of termination or suspension if applicable, and
                  any relevant information regarding the reason for the action.
                </p>
                <h5>10. Changes to Terms and Conditions:</h5>
                <p class="text-muted">
                  The system provider reserves the right to modify or update
                  these terms and conditions at any time. Users will be notified
                  of changes, and continued use of the system implies acceptance
                  of the updated terms. Users should periodically review these
                  terms and conditions for any updates or changes.
                </p>
                <h5>11. Governing Law:</h5>
                <p class="text-muted">
                  These terms and conditions are governed by and construed in
                  accordance with the laws of Bolivia. Any disputes shall be
                  subject to the exclusive jurisdiction of the courts in
                  Bolivia. Users agree that any legal disputes will be resolved
                  in the courts of the specified jurisdiction.
                </p>
                <h5>12. Contact Information:</h5>
                <p class="text-muted">
                  Users can contact the system provider for any inquiries or
                  concerns regarding these terms and conditions at [Contact
                  Email/Address]. Any communication with the system provider
                  should include clear contact information for a prompt
                  response.
                </p>

                <p class="text-muted fw-semibold">
                  No use of the Website's logo or other artwork will be allowed
                  for linking absent a trademark license agreement.
                </p>
              </div>

              <div class="text-end hstack gap-2 justify-content-end">
                <a href="#!" class="btn btn-success">Accept</a>
                <a href="#!" class="btn btn-outline-danger">
                  <i class="ri-close-line align-bottom me-1"></i>
                  Decline
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% block footer %} {% include "partials/footer.html" %} {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %} {% block extra_js %} {% endblock extra_js %}
