<div class="modal fade zoomIn" id="addOrUpdateBusiness" tabindex="-1" aria-labelledby="addOrUpdateBusinessLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header p-3 ps-4 bg-success-subtle">
                <h5 class="modal-title" id="addOrUpdateBusinesslabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="businessDetails" role="tabpanel">
                        <form method="POST" class="post-form" id="businessForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="business_id" id="business_id" value="">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center mb-4 mt-n5 pt-2">
                                        <div class="position-relative d-inline-block">
                                            <div class="position-absolute bottom-0 end-0">
                                                <label for="image_src" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                                    <div class="avatar-xs cursor-pointer">
                                                        <div class="avatar-title bg-light border rounded-circle text-muted">
                                                            <i class="ri-image-fill"></i>
                                                        </div>
                                                    </div>
                                                </label>
                                                <input class="form-control d-none" value="" id="image_src" type="file" accept="image/png, image/jpeg" name="image_src"/>
                                            </div>
                                            <div class="avatar-lg p-1">
                                                <div class="avatar-title bg-light rounded-circle">
                                                    <img src="" id="logo-img" name="image_src" class="avatar-md rounded-circle object-fit-cover"/>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="fs-13 mt-3">Imagen</h5>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">
                                            Nombre del Negocio
                                        </label>
                                        <input type="text" class="form-control" name="name" id="name"
                                            placeholder="Ingrese su nombre comercial" required />
                                        <div class="invalid-feedback">
                                            Ingrese un nombre comercial.
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="type" class="form-label">
                                            Tipo de negocio
                                        </label>
                                        <select class="form-control" name="type" id="type" required>
                                            <option value="">Seleccione tipo</option>
                                            <option value="1">Lácteos</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccione un tipo de negocio.
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="location" class="form-label">
                                            Ubicación
                                        </label>
                                        <select class="form-control" name="location" id="location" required>
                                            <option value="">Seleccionar ubicación</option>
                                            <option value="La Paz">La Paz</option>
                                            <option value="Cochabamba">Cochabamba</option>
                                            <option value="Santa Cruz">Santa Cruz</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccione una ubicación para el negocio.
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="description" class="form-label">
                                            Descripción
                                        </label>
                                        <textarea class="form-control" id="description" name="description" rows="3"
                                            placeholder="Enter description" required></textarea>
                                        <div class="invalid-feedback">
                                            Ingrese una descripción para el negocio.
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button class="btn btn-link link-success text-decoration-none fw-medium"
                                            data-bs-dismiss="modal">
                                            <i class="ri-close-line me-1 align-middle"></i>
                                            Cerrar
                                        </button>
                                        <input type="hidden" name="id" id="id" value="id">
                                        <button type="submit" class="btn btn-primary" onclick="businessForm.handleSubmission('{{ business.id }}' !== '');">
                                            <i class="ri-save-3-line align-bottom me-1"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
<!-- removeBusinessModal -->
<div id="removeBusinessModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <!-- Icon and text content -->
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width: 100px; height: 100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>¿Está seguro?</h4>
                        <p class="text-muted mx-4 mb-0">
                            ¿Estás seguro de que quieres eliminar este negocio?
                        </p>
                    </div>
                </div>
                <!-- Form for deletion -->
                <form id="deleteBusinessForm" method="POST" action="{% url 'business:business.delete' 0 %}">
                    {% csrf_token %}
                    <input type="hidden" id="delete-business-url" value="{% url 'business:business.delete' 0 %}">
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="submit" class="btn w-sm btn-danger delete-business-btn">¡Sí, borrarlo!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
