{% extends "partials/base.html" %}
{% load static %}

{% block title %}Detalles de negocios{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'libs/gridjs/dist/theme/mermaid.min.css' %}">
    <link href="{% static 'libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            {% block pagetitle %}
            {% include "partials/page-title.html" with pagetitle="Negocio" title=business.name %}

            {% endblock pagetitle %}

            <div class="row">
                <div class="col-xxl-3">
                    <div class="card">
                        <div class="card-body p-4">
                            <div>
                                <!-- Business Avatar -->
                                    <img src="{{ business.get_photo_url }}" alt="100" style="width: 100%; height: 100%;" />
                                <!-- Business Info -->
                                <div class="mt-4 text-center">
                                    <h5 class="mb-1">{{ business.name }}</h5>
                                    <p class="text-muted">Desde {{ business.date_created }}</p>
                                </div>
                                
                                <!-- Business Details Table -->
                                <div class="table-responsive">
                                    <table class="table mb-0 table-borderless">
                                        <tbody>
                                            <tr>
                                                <th><span class="fw-medium" style="font-size: larger;">Nombre del Usuario</span></th>
                                                <td>{{ business.fk_user.username }}</td>
                                            </tr>
                                            <tr>
                                                <th><span class="fw-medium" style="font-size: larger;">Tipo de negocio</span></th>
                                                <td>{% if business.type == 1 %}Lacteos{% else %}{{ business.type }}{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th><span class="fw-medium" style="font-size: larger;">Descripción</span></th>
                                                <td>{% if business.description %}{{ business.description }}{% else %}Descripción no disponible{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th><span class="fw-medium" style="font-size: larger;">Ubicación</span></th>
                                                <td>{{ business.location }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                    
                </div><!--end col-->

                <div class="col-xxl-9">
                    <div class="card">
                        <div class="card-header border-0 align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Productos </h4>
                        </div><!-- end card header -->
                        <div class="card-body p-4">
                            <div class="row g-4 mb-3">
                                <div class="col-sm-auto">
                                    <div>
                                        <a href="{% url 'product:product.create' %}" class="btn btn-success">
                                            <i class="ri-add-line align-bottom me-1"></i> Agregar producto
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="table-responsive table-card mb-1">
                                        <table class="table align-middle" id="productTable">
                                            <thead class="table-light text-muted">
                                                <tr>
                                                    <th class="sort">Imagen </th>
                                                    <th class="sort" data-sort="name"> Producto </th>
                                                    <th class="sort" data-sort="type">Tipo </th>
                                                    <th class="sort" data-sort="date"> Fecha creada </th>
                                                    <th class="sort" data-sort="status">Estado </th>
                                                    <th data-sort="action"> Acción </th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                {% for product in products %}
                                                <tr>
                                                    <td class="image">
                                                        <img src="{{ product.image_src.url }}" alt="Product Image" style="width: 100%; height: 100px; object-fit: cover;" />
                                                    </td>
                                                    <td class="name">{{ product.name }}</td>
                                                    <td class="type">{{ product.type }}</td>
                                                    <td class="date">{{ product.date_created|date:"d M,Y" }}</td>
                                                    <td class="status">
                                                        {% if product.is_active == 1 %}
                                                        <span class="badge bg-success-subtle text-success text-uppercase">Activo </span>
                                                        {% else %}
                                                        <span class="badge bg-danger-subtle text-danger text-uppercase"> Desactivado </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <ul class="list-inline hstack gap-2 mb-0">
                                                            <li class="list-inline-item edit" data-bs-toggle="tooltip"
                                                                data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                                <a href="#showModal-{{ forloop.counter }}" data-bs-toggle="modal"
                                                                    class="text-primary d-inline-block edit-item-btn">
                                                                    <i class="ri-pencil-fill fs-16"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item" data-bs-toggle="tooltip"
                                                                data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                                <a class="text-danger d-inline-block remove-item-btn"
                                                                   data-bs-toggle="modal"
                                                                   href="#deleteRecordModal-{{ forloop.counter }}">
                                                                    <i class="ri-delete-bin-5-fill fs-16"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td>
                                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                                colors="primary:#405189,secondary:#0ab39c"
                                                                style="width:75px;height:75px">
                                                        </lord-icon>
                                                        <h5 class="mt-2">Lo siento, no hay ningún negocio registrado en la base de datos</h5>
                                                        <p class="text-muted mb-0"> Tienes que "agregar producto". </p>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header border-0 align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1"> Ingresos </h4>
                        </div><!-- end card header -->
                        <div class="card-body">
                            <div class="card-header p-0 border-0 bg-light-subtle">
                                <div class="row g-0 text-center">
                                    <div class="col-6 col-sm-4">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1"><span class="counter-value" data-target="{{ products.count }}">0</span></h5>
                                            <p class="text-muted mb-0">Productos </p>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-6 col-sm-4">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1">$<span class="counter-value" data-target="{{ business.product.earnings }}">0</span>k</h5>
                                            <p class="text-muted mb-0">Ganancias </p>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-6 col-sm-4">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1"><span class="counter-value" data-target="{{ business.product.simulate.count }}">0</span></h5>
                                            <p class="text-muted mb-0"> Reembolsos </p>
                                        </div>
                                    </div><!--end col-->
                                </div>
                            </div><!-- end card header -->
                            <div>
                                {% if business and business.dashboard %}
                                    <!-- Mostrar el dashboard aquí -->
                                    {{ business.dashboard }}
                                {% else %}
                                    <!-- Mostrar un mensaje de falta de información -->
                                    <p>Falta información del dashboard.</p>
                                {% endif %}

                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->

                </div>
            </div>
        </div>
    </div>
    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}
</div>
{% endblock content %}
{% block extra_content %}
{% block modals %} {% include "partials/modals.html" %} {% endblock modals %}
{% endblock extra_content %}
{% block extra_js %}
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'libs/gridjs/dist/gridjs.umd.js' %}"></script>
    <script src="https://unpkg.com/gridjs/plugins/selection/dist/selection.umd.js"></script>
    <script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>
{% endblock extra_js %}
