{% extends "partials/base.html" %} {% load static %} 
{% load crispy_forms_tags %}
{% block title %}
  Lista de negocios
{% endblock title %}
{% block extra_css %} 
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      {% block pagetitle %} 
        {% include "partials/page-title.html" with pagetitle="Business" title="Business List" %} 
      {% endblock pagetitle %}
      <div class="card rounded-0 bg-success-subtle mx-n4 mt-n4 border-top">
        <div class="px-4">
          <div class="row">
            <div class="col-xxl-9 align-self-center">
              <div class="py-4">
                <h4 class="display-6 -text">Lista de negocios</h4>
                <div class="container">                      
                  <p>Pagina de listado de negocios registradas.</p>
                  <h2>Características clave:</h2>
                  <ul>
                    <li><span class="text-success">Editar:</span> Actualice la informacion de sus negocios.</li>
                    <li><span class="text-danger">Eliminar: </span> Eliminacion de alguno de los negocios que tiene registrado</li>
                    <li><span class="text-primary">Ver: </span>Ver la informacion de cada elmento.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xxl-3 ms-auto">
              <div class="mb-n5 pb-1 faq-img d-none d-xxl-block">
                <img src="{% static 'images/business-img.webp'%}" alt="" class="img-fluid" style="max-width: 100%; height: auto;">
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header border-0 rounded">
                  <div class="row g-3">
                      <div class="col-md-12 mb-3">
                          <form method="GET" action="{% url 'business:business.list' %}">
                              <select class="form-select" id="type-select" name="type">
                                  <option value="All" {% if request.GET.type == "All" %}selected{% endif %}>Seleccionar tipos</option>
                                  <option value="Dairy" {% if request.GET.type == "Dairy" %}selected{% endif %}>Lácteos</option>
                                  <option value="Meat" {% if request.GET.type == "Meat" %}selected{% endif %}>Carne</option>
                                  <!-- Otros elementos options -->
                              </select>
                              <div class="col-lg-12 text-end mt-3">
                                  <button type="submit" class="btn btn-outline-primary">
                                      <i class="ri-equalizer-fill me-1 align-bottom"></i>Filtros
                                  </button>
                              </div>
                          </form>
                      </div>
                      <!--end col-->
                  </div>
                  <div class="col-lg-3 text-end">
                      <div class="hstack gap-2">
                          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addOrUpdateBusiness">
                              <i class="ri-add-fill me-1 align-bottom"></i>Crear nuevo
                          </button>
                      </div>
                  </div>
                  <!--end row-->
              </div>
          </div>
      </div>
      <!-- List of Businesess -->          
      <div class="row" id="business-list">
        {% for business in businesses %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <!-- Contenido de la tarjeta -->
                    <div class="card-img-container position-relative">
                        <img src="{{ business.get_photo_url }}" class="card-img-top fixed-image" alt="{{ business.name }}" />
                        <div class="dropdown position-absolute top-0 end-0 mt-2 me-2">
                            <button class="btn btn-link text-muted p-1 mt-n2 py-0 text-decoration-none fs-15" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i data-feather="more-horizontal" class="icon-sm"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="{% url 'business:business.overview' business.id %}">
                                    <i class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                    Ver
                                </a>
                                <a href="#" class="dropdown-item edit-variable" data-bs-toggle="modal" 
                                data-bs-target="#addOrUpdateBusiness" data-variable-id="{{ business.id }}" 
                                onclick="loadBusinessDetails('{{ business.id }}'); return false;">
                                    <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                    Editar
                                </a>
                                <div class="dropdown-divider"></div>
                                {{ business.id }}
                                <a id="delete-business-link" class="dropdown-item delete-variable" 
                                  data-bs-toggle="modal" data-bs-target="#removeBusinessModal" data-variable-id="{{ business.id }}">
                                  <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                  Eliminar
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <h5 class="card-title">{{ business.name }}</h5>
                        <p class="card-text text-truncate">{{ business.description }}</p>
                    </div>
                    <div class="card-footer border-top-dashed">
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                            <div>
                                <i class="ri-briefcase-2-line align-bottom me-1"></i>
                                <span class="job-type">{{business.fk_product.name}}</span>
                            </div>
                            <div>
                                <i class="ri-map-pin-2-line align-bottom me-1"></i>
                                <span class="job-location">{{business.location}}</span>
                            </div>
                            <div>
                                <i class="ri-user-3-line align-bottom me-1"></i>
                                {% if business.type == 1 %}
                                    <span class="badge badge-primary">Lácteos</span>
                                {% else %}
                                    <span class="badge badge-primary">Otros</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div>
                        <i class="ri-time-line align-bottom me-1"></i>
                        <span class="job-postdate">{{ business.date_created|date:"F d, Y" }}</span>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col text-center py-4">
                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width: 75px; height: 75px"></lord-icon>
                <h5 class="mt-2">
                    Lo siento, no hay ningún negocio registrado en la base de datos
                </h5>
            </div>
        {% endfor %}
    </div>    
      <!-- End List of Businesess -->
      <!-- Pagination -->
      <div class="align-items-center mt-2 row text-center text-sm-start">
        <div class="col-sm">
          <div class="text-muted">
            Mostrar pagina
            <span class="fw-semibold">{{ businesses.number }}</span>
            de
            <span class="fw-semibold">{{ businesses.paginator.num_pages }}</span>
            paginas
          </div>
        </div>
        <div class="col-sm-auto">
          <ul class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
            {% if businesses.has_previous %}
              <li class="page-item">
                <a href="?page=1" class="page-link" aria-label="First">
                  ««
                </a>
              </li>
              <li class="page-item">
                <a href="?page={{ businesses.previous_page_number }}" class="page-link" aria-label="Previous">
                  «
                </a>
              </li>
            {% endif %}
            {% for i in businesses.paginator.page_range %}
              <li class="page-item {% if i == businesses.number %}active{% endif %}">
                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
              </li>
            {% endfor %}
            {% if businesses.has_next %}
              <li class="page-item">
                <a href="?page={{ businesses.next_page_number }}" class="page-link" aria-label="Next">
                  »
                </a>
              </li>
              <li class="page-item">
                <a href="?page={{ businesses.paginator.num_pages }}" class="page-link" aria-label="Last">
                  »»
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div> 
      <!-- End Pagination --> 
    </div>
  <!-- End Page-content -->
  {% block footer %} {% include "partials/footer.html" %} {% endblock footer %}
  </div>
  <!-- end main content-->
  {% endblock content %}
  {% block extra_content %}
  {% block modals %} 
  {% include "business/business-modal.html" %} 
  {% endblock modals %}
  {% endblock extra_content %} 
  {% block extra_js %}
  <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'js/crud.js' %}"></script>
  {% endblock extra_js %}
</div>