<!-- addOrUpdateVariableModal -->
<div class="modal fade" id="addOrUpdateVariable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content border-0">
        <form id="variableForm" autocomplete="off" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="addOrUpdateProductLabel">Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="variable-id-field" />
                <div class="row g-3">
                    <div class="col-lg-12">
                        <div class="text-center mb-4 mt-n5 pt-2">
                            <div class="position-relative d-inline-block">
                                <div class="position-absolute bottom-0 end-0">
                                    <label for="image_src" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                        <div class="avatar-xs cursor-pointer">
                                            <div class="avatar-title bg-light border rounded-circle text-muted">
                                                <i class="ri-image-fill"></i>
                                            </div>
                                        </div>
                                    </label>
                                    <input class="form-control d-none" value="" id="image_src" type="file" accept="image/png, image/jpeg" name="image_src"/>
                                </div>
                                <div class="avatar-lg p-1">
                                    <div class="avatar-title bg-light rounded-circle">
                                        <img src="" id="logo-img" name="image_src" class="avatar-md rounded-circle object-fit-cover"/>
                                    </div>
                                </div>
                            </div>
                            <h5 class="fs-13 mt-3">Imagen</h5>
                        </div>
                        <div>
                            <label for="name" class="form-label">Nombre de la variable</label>
                            <input type="text" id="name" class="form-control" placeholder="Ingrese el nombre de la variable" name="name" required/>
                            <div class="invalid-feedback">Ingrese un nombre de variable.</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label for="fk_product" class="form-label">Producto asociado</label>
                            <select class="form-select" id="fk_product" name="fk_product" required>
                                {% for product in products %}
                                <option value="{{ product.id }}">{{ product.name }}</option>
                                {% empty %}
                                <option value=".">...</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Seleccione el producto asociado para la variable.</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label for="type" class="form-label">Tipo de variable</label>
                            <select class="form-select" id="type" name="type" required>
                                <option value="1">Endógena</option>
                                <option value="2">Exógeno</option>
                                <option value="2">Estado</option>
                            </select>
                            <div class="invalid-feedback">Seleccione un tipo de variable.</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label for="unit" class="form-label">Unidad</label>
                            <select class="form-select" id="unit" name="unit" required>
                                <option value="L">L</option>
                                <option value="Bs">Bs</option>
                                <option value="Lt/Bs">Lt/Bs</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <label for="description" class="form-label">Descripción</label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Enter description" name="description" required></textarea>
                            <div class="invalid-feedback">Ingrese una descripción de la variable.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <input type="hidden" name="product_id" id="product_id" value="{{ variable.id }}">
                    <button type="submit" class="btn btn-primary" onclick="variableForm.handleSubmission('{{ variable.id }}' !== '');">
                        <i class="ri-save-3-line align-bottom me-1"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </form>
      </div>
    </div>
</div>
<!-- End of Add or Update Variable Modal -->
<!-- removeVariableModal -->
<div id="removeVariableModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <!-- Icon and text content -->
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width: 100px; height: 100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>¿Está seguro?</h4>
                        <p class="text-muted mx-4 mb-0">
                            ¿Estás seguro de que quieres eliminar esta variable?
                        </p>
                    </div>
                </div>
                <!-- Form for deletion -->
                <form id="deleteVariableForm" method="POST" action="{% url 'variable:variable.delete' 0 %}">
                    {% csrf_token %}
                    <input type="hidden" id="delete-variable-url" value="{% url 'variable:variable.delete' 0 %}">
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="submit" class="btn w-sm btn-danger delete-variable-btn">
                            ¡Sí, borrarlo!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- addOrUpdateEquationModalModal -->
<div class="modal fade" id="addOrUpdateEquation" tabindex="-1" aria-labelledby="addOrUpdateEquationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
          <form id="variableForm" autocomplete="off" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="modal-body">
              <input type="hidden" id="variable-id-field" />
              <div class="row g-3">
                <div class="col-lg-12">
                  <div>
                    <label for="name" class="form-label">Nombre de la Ecuacion</label>
                    <input type="text" id="name"  class="form-control"  placeholder="Ingrese el nombre de la variable" name="name"  required/>
                    <div class="invalid-feedback">Ingrese un nombre de variable.</div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div>
                      <label for="equation" class="form-label">Ecuación</label>
                      <div id="equation" class="mathquill-editable"></div>
                      <input type="hidden" id="equationInput" name="equation">
                      <div class="invalid-feedback">Ingrese una ecuación para la variable.</div>
                  </div>
              </div>
                <div class="col-lg-12">
                  <div>
                    <label for="description" class="form-label"
                      >Descripción</label>
                    <textarea class="form-control" id="description" rows="3"
                      placeholder="Ingrese la descripción" name="description" required></textarea>
                    <div class="invalid-feedback"
                      >Ingrese una descripción de la variable.</div
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="hstack gap-2 justify-content-end">
                <button type="button"  class="btn btn-light"  data-bs-dismiss="modal" >Cerrar</button>
                <input type="hidden" name="product_id" id="product_id" value="{{ variable.id }}">
                  <button type="submit" class="btn btn-primary" onclick="variableForm.handleSubmission('{{ variable.id }}' !== '');">
                      <i class="ri-save-3-line align-bottom me-1"></i>
                      Guardar
                  </button>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>
<script>
  var mathField = MQ.MathField(document.getElementById('equation'), {
      spaceBehavesLikeTab: true,
      handlers: {
          edit: function () {
              var latex = mathField.latex();
              $('#equationInput').val(latex);
          }
      }
  });
</script>
<!-- removeProductModal -->
<div id="removeEquationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <!-- Icon and text content -->
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width: 100px; height: 100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>¿Está seguro?</h4>
                        <p class="text-muted mx-4 mb-0">
                            ¿Estás seguro de que quieres eliminar la ecuacion?
                        </p>
                    </div>
                </div>
                <!-- Form for deletion -->
                <form id="deleteEquationForm" method="POST" action="{% url 'variable:equation.delete' 0 %}">
                    {% csrf_token %}
                    <input type="hidden" id="delete-equation-url" value="{% url 'variable:equation.delete' 0 %}">
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="submit" class="btn w-sm btn-danger delete-equation-btn">
                            ¡Sí, borrarlo!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>