{% extends "partials/base.html" %} 
{% load static %} 
{% block title %}Lista de variables{% endblock title %}
{% block extra_css %}
{% endblock extra_css %} 
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      {% block pagetitle %} {% include "partials/page-title.html" with pagetitle="Variable" title="Variable List" %} {% endblock pagetitle %}
      <div class="card rounded-0 bg-success-subtle mx-n4 mt-n4 border-top">
        <div class="px-4">
            <div class="row">
                <div class="col-xxl-9 align-self-center">
                    <div class="py-4">
                        <h4 class="display-6 -text">VARIABLE LIST</h4>
                        <div class="container">                      
                            <p>Bienvenido a nuestra página de la lista de simulación, con una colección dinámica de escenarios variables procedentes de nuestra base de datos integral.Ya sea que sea un entusiasta, un investigador o alguien que explore el mundo de las simulaciones, esta página está diseñada para atender sus intereses.</p>
                        
                            <h2>Características clave:</h2>
                        
                            <ul>
                                <li><span class="text-success">Editar:</span> Actualice fácilmente los detalles de las variables, modifique los parámetros y refine los escenarios.Nuestra interfaz intuitiva garantiza una experiencia de edición perfecta, lo que le permite ajustar simulaciones con solo unos pocos clics.</li>
                        
                                <li><span class="text-danger">Eliminar: </span> ¿Necesita eliminar una variable?La función Eliminar le permite eliminar de manera rápida y segura escenarios que ya no son necesarios.Agilice su biblioteca de simulación sin esfuerzo.</li>
                        
                                <li><span class="text-primary">Ver: </span>Sumérgete profundamente en los detalles de cada variable con la opción Vista.Explore los parámetros, resultados y más.Esta característica es perfecta para analizar los resultados de la simulación y tomar decisiones informadas.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 ms-auto">
                    <div class="mb-n5 pb-1 faq-img d-none d-xxl-block">
                        <img src="{% static 'images/variable-img.webp'%}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-10 col-sm-auto ">
          <div class="card">
            <div class="card-title">
              <div class="d-flex align-items-center">
                <h6 class="card-title mb-0 flex-grow-1">Filter results</h6>
              </div>
            </div>
            <div class="card-body">
              <div class="row g-2">
                <form method="get" action="{% url 'variable:variable.list' %}">
                  <div class="col-lg-auto">
                    <div class="row g-3">
                      <div class="col-md-6">
                          <select class="form-control" id="business-select" name="business_id">
                              <option value="All">Seleccionar producto</option>
                              {% for product in products %}
                              <option value="{{ product.id }}">
                                  {{ product.name }}
                              </option>
                              {% empty %}
                              <option value="All">Toda</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="col-md-6">
                          <select class="form-control" id="type-select">
                              <option value="All">Seleccione tipo</option>
                              <option value="All">Toda</option>
                              <option value="Endogena">Endógena</option>
                              <option value="Exogena">Exogena</option>
                              <option value="Estado">Estado</option>
                          </select>
                      </div>
                      <div class="col-lg-12 text-end">
                        <button type="submit" class="btn btn-danger" id="apply-filters">
                          <i class="ri-equalizer-fill me-1 align-bottom"></i>
                          Filtros
                        </button>
                      </div>
                  </div>
                  </div>
                  <!--end col-->
                </form>
                <div class="col-lg-3">
                  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addVariable">
                    <i class="ri-add-fill me-1 align-bottom"></i>
                    Crear nuevo
                  </button>
                </div>
              </div>
              <!--end row-->
            </div>
          </div>
          {% for variable in variables %}
          <div class="card joblist-card">
            <div class="card-body">
              <div class="d-flex mb-4">
                <div class="avatar-sm">
                  <div class="avatar-title bg-light rounded">
                    <img
                    src="{{ variable.get_photo_url }}"
                      alt=""
                      class="avatar-xxs companyLogo-img"
                    />
                  </div>
                </div>
                <div class="ms-3 flex-grow-1">
                  <img
                  src="{{ variable.get_photo_url }}"
                    alt=""
                    class="d-none cover-img"
                  />
                  <a href="{% url 'variable:variable.overview' variable.id %}"
                    ><h5 class="job-title">{{variable.name}}</h5></a
                  >
                  <p class="company-name text-muted mb-0"
                    >{{variable.fk_product.name}}</p
                  >
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-ghost-primary btn-icon custom-toggle"
                    data-bs-toggle="button"
                  >
                    <span class="icon-off"
                      ><i class="ri-bookmark-fill"></i
                    ></span>
                  </button>
                </div>
              </div>
              <p class="text-muted job-description">{{variable.description}}</p>
            </div>
            <div class="card-footer border-top-dashed">
              <div
                class="d-flex justify-content-between align-items-center flex-wrap gap-3"
              >
                <div
                  ><i class="ri-briefcase-2-line align-bottom me-1"></i>
                  <span class="job-type"
                    >{{variable.fk_product.name}}</span
                  ></div
                >
                <div
                  ><i class="ri-map-pin-2-line align-bottom me-1"></i>
                  <span class="job-location">{{variable.unit}}</span></div
                >
                <div
                  ><i class="ri-user-3-line align-bottom me-1"></i>
                  {{variable.type}}</div
                >
                <div
                  ><i class="ri-time-line align-bottom me-1"></i>
                  <span class="job-postdate"
                    >{{variable.date_created}}</span
                  ></div
                >

                <div class="dropdown">
                  <button
                    class="btn btn-link text-muted p-1 mt-n2 py-0 text-decoration-none fs-15"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                  >
                    <i data-feather="more-horizontal" class="icon-sm"></i>
                  </button>

                  <div class="dropdown-menu dropdown-menu-end">
                    <a
                      class="dropdown-item"
                      href="{% url 'variable:variable.overview' variable.id %}"
                      ><i class="ri-eye-fill align-bottom me-2 text-muted"></i>
                      Vista</a
                    >
                    <a
                      class="dropdown-item edit-variable"
                      data-bs-target="#editVariableModal"
                      data-variable-id="{{ variable.id }}"
                      ><i
                        class="ri-pencil-fill align-bottom me-2 text-muted"
                      ></i>
                      Editar</a
                    >
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item delete-variable"
                      data-bs-toggle="modal"
                      data-bs-target="#removeVariableModal"
                      data-variable-id="{{ variable.id }}"
                      ><i
                        class="ri-delete-bin-fill align-bottom me-2 text-muted"
                      ></i>
                      Eliminar</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% comment %} End card {% endcomment %} {% empty %}
          <div class="text-center py-4">
            <lord-icon
              src="https://cdn.lordicon.com/msoeawqm.json"
              trigger="loop"
              colors="primary:#405189,secondary:#0ab39c"
              style="width: 75px; height: 75px"
            ></lord-icon>
            <h5 class="mt-2"
              >Lo siento, no hay ningún registro variable en la base de datos</h5
            >
            <p class="text-muted mb-0">Tienes que "agregar producto".</p>
          </div>

          {% endfor %} {% comment %} Fin de la lista {% endcomment %}
          <!-- Pagination -->
          <div class="align-items-center mt-2 row text-center text-sm-start">
            <div class="col-sm">
              <div class="text-muted"
                >Mostrar
                <span class="fw-semibold">{{ variables.number }}</span> of
                <span class="fw-semibold"
                  >{{ variables.paginator.num_pages }}</span
                >
                Resultados
              </div>
            </div>
            <div class="col-sm-auto">
              <ul class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
                {% if variables.has_Anterior %}
                  <li class="page-item">
                    <a href="?page={{ variables.Anterior_page_number }}" class="page-link">←</a>
                  </li>
                {% endif %}
            
                {% for i in variables.paginator.page_range %}
                  <li class="page-item {% if i == variables.number %}active{% endif %}">
                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                  </li>
                {% endfor %}
            
                {% if variables.has_next %}
                  <li class="page-item">
                    <a href="?page={{ variables.next_page_number }}" class="page-link">→</a>
                  </li>
                {% endif %}
              </ul>
            </div>            
          </div>
          <!-- end row -->
        </div>
        <div class="col-lg-2 layout-rightside-col">
            <div class="overlay"></div>
            <div class="layout-rightside">
              <div class="card h-100 rounded-0">
                <div class="card-body p-0">
                  <div class="p-3">
                    <h6 class="text-muted mb-0 text-uppercase fw-semibold"
                      >Instrucciones</h6
                    >
                  </div>
                  <div data-simplebar style="max-height: 410px" class="p-3 pt-0">
                    <div class="acitivity-timeline acitivity-main">
                      {% for instruction in instructions %}
                      <div class="acitivity-item d-flex">
                        <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                          <div
                            class="avatar-title bg-primary-subtle text-primary rounded-circle"
                          >
                            <i class="ri-info-line"></i>
                          </div>
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h6 class="mb-1 lh-base">{{ instruction.title }}</h6>
                          <p class="text-muted mb-1"
                            >{{ instruction.description }}
                          </p>
                          <small class="mb-0 text-muted"
                            >{{ instruction.date }}</small
                          >
                        </div>
                      </div>
                      {% empty %}
                      <div class="text-center py-4">
                        <lord-icon
                          src="https://cdn.lordicon.com/msoeawqm.json"
                          trigger="loop"
                          colors="primary:#405189,secondary:#0ab39c"
                          style="width: 75px; height: 75px"
                        ></lord-icon>
                        <h5 class="mt-2"
                          >Lo siento, no hay instrucciones en la base de datos.</h5
                        >
                        <p class="text-muted mb-0"
                          >Agregue instrucciones al sistema.</p
                        >
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card-->
            </div>
            <!-- end .rightbar-->
          </div>
          <!-- end col activity -->
        </div>
      </div> 
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
  {% block footer %}
    {% include "partials/footer.html" %} 
  {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %} 
{% block extra_content %}
{% block modals %} {% include "partials/modals.html" %} {% endblock modals %}
{% endblock extra_content %}
{% block extra_js %}
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'js/crud.js' %}"></script>
{% endblock extra_js %}