{% extends "partials/base.html" %} {% load static %}
{% block title %}Job Overview{% endblock title%}
{% block extra_css %} {% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="card mt-n4 mx-n4">
                <div class="bg-warning-subtle">
                  <div class="card-body px-4 pb-4">
                    <div class="row mb-3">
                      <div class="col-md">
                        <div class="row align-items-center g-3">
                          <div class="col-md-auto">
                            <div class="avatar-md">
                              <div class="avatar-title bg-white rounded-circle">
                                {% if variable.image_src %}
                                <img
                                  src="{{ MEDIA_URL }}{{ variable.image_src.url }}"
                                  alt=""
                                  class="avatar-xs"
                                />
                                {% else %}
                                <img
                                  src="{% static 'path/to/dummy-image.jpg' %}"
                                  alt=""
                                  class="avatar-xs"
                                />
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div>
                              <h4 class="fw-bold">{{variable.name}}</h4>
                              <div class="hstack gap-3 flex-wrap">
                                <div>
                                  <i class="ri-building-line align-bottom me-1"></i>
                                  {{variable.fk_product.name}}
                                </div>
                                <div class="vr"></div>
                                <div>
                                  <i class="ri-map-pin-2-line align-bottom me-1"></i>
                                  {{variable.is_active}}
                                </div>
                                <div class="vr"></div>
                                <div>
                                  Created Date :
                                  <span class="fw-medium">
                                    {{variable.date_created}}
                                  </span>
                                </div>
                                <div class="vr"></div>
                                <div class="badge rounded-pill bg-success fs-12">
                                  {{variable.type}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
              </div>
              <!-- end card -->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
    
          <div class="row mt-n5">
            <div class="col-xxl-9">
              <div class="card">
                <div class="card-body">
                  <h5 class="mb-3">Variable Description</h5>
    
                  <p class="text-muted mb-2">{{variable.description}}</p>
                  <div>
                    <h5 class="mb-3">Equations</h5>
                    <p class="text-muted">
                      Provided below are the responsibilities of a Variable Name:
                    </p>
                    <ul class="text-muted vstack gap-2">
                      <li>
                        To visualise and create drawings and design concepts to determine the best
                        variable.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="d-flex align-items-center mb-4">
                    <div class="flex-grow-1">
                      <h5 class="mb-0">Related Variables</h5>
                    </div>
                    <div class="flex-shrink-0">
                      <a href="{% url 'variable:variable.list' %}" class="btn btn-ghost-success">
                        View All
                        <i class="ri-arrow-right-line ms-1 align-bottom"></i>
                      </a>
                    </div>
                  </div>
                </div>
                {% for variable in variables_related %}
                <div class="col-xl-4">
                  <div class="card">
                    <div class="card-body">
                      <button
                        type="button"
                        class="btn btn-icon btn-soft-primary float-end"
                        data-bs-toggle="button"
                        aria-pressed="true"
                      >
                        <i class="mdi mdi-cards-heart fs-16"></i>
                      </button>
                      <div class="avatar-sm mb-4">
                        <div class="avatar-title bg-secondary-subtle rounded">
                          <img
                            src="{{ MEDIA_URL }}{{ variable.image.url }}"
                            alt=""
                            class="avatar-xxs"
                          />
                        </div>
                      </div>
                      <a href="{% url 'variable:variable.overview' variable.id %}">
                        <h5>{{variable.name}}</h5>
                      </a>
                      <p class="text-muted">{{variable.product.name}}</p>
    
                      <div class="d-flex gap-4 mb-3">
                        <div>
                          <i class="ri-map-pin-2-line text-primary me-1 align-bottom"></i>
                          {{variable.unit}}
                        </div>
                        <div>
                          <i class="ri-time-line text-primary me-1 align-bottom"></i>
                          {{variable.last_update}}
                        </div>
                      </div>
                      <p class="text-muted">{{variable.description}}</p>
    
                      <div class="hstack gap-2">
                        <span class="badge bg-success-subtle text-success">
                          Full Time
                        </span>
                        <span class="badge bg-primary-subtle text-primary">
                          Freelance
                        </span>
                        <span class="badge bg-danger-subtle text-danger">
                          Urgent
                        </span>
                      </div>
    
                      <div class="mt-4 hstack gap-2">
                        <a
                          href="{% url 'variable:variable.overview' variable.id %}"
                          class="btn btn-soft-success w-100"
                        >
                          Overview
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                {% empty %}
                <tr>
                  <td>
                    <lord-icon
                      src="https://cdn.lordicon.com/msoeawqm.json"
                      trigger="loop"
                      colors="primary:#405189,secondary:#0ab39c"
                      style="width: 75px; height: 75px"
                    ></lord-icon>
                    <h5 class="mt-2">
                      Sorry, there isn't any business registered in the database
                    </h5>
                    <p class="text-muted mb-0">You have to "Add Product".</p>
                  </td>
                </tr>
                {% endfor %}
              </div>
            </div>
            <div class="col-xxl-3">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">Overview</h5>
                </div>
                <div class="card-body">
                  <div class="table-responsive table-card">
                    <table class="table mb-0">
                      <tbody>
                        <tr>
                          <td class="fw-medium">Name</td>
                          <td>{{variable.name}}</td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Product Vinculate</td>
                          <td>{{variable.name}}</td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Business Vinculate</td>
                          <td>{{variable.name}}</td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Type</td>
                          <td>
                            <span class="badge bg-success-subtle text-success">
                              {{variable.type}}
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Unit</td>
                          <td>{{variable.unit}}</td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Created Date</td>
    
                          <td>{{variable.date_created}}</td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Unit</td>
                          <td>{{variable.name}}<</td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Number of Equations</td>
                          <td>{{number_equations}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!--end table-->
                  </div>
                </div>
              </div>
              <!--end card-->
              <div class="card">
                <div class="card-body">
                  <div class="avatar-sm mx-auto">
                    <div class="avatar-title bg-warning-subtle rounded">
                      <img src="{% static 'images/companies/img-3.webp' %}" alt="" class="avatar-xxs" />
                    </div>
                  </div>
                  <div class="text-center">
                    <a href="#!">
                      <h5 class="mt-3">{{variable.fk_product.fk_business.name}}</h5>
                    </a>
                    <p class="text-muted">{{variable.fk_product.fk_business.fk_user.username}}</p>
                  </div>
    
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <tbody>
                        <tr>
                          <td class="fw-medium">Company Size</td>
                          <td>{{variable.fk_product.fk_business.name}}</td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Industry Type</td>
                          <td>{{variable.fk_product.fk_business.name}}</td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Founded in</td>
                          <td>{{variable.fk_product.fk_business.date_created}}</td>
                        </tr>
                        <tr>
                          <td class="fw-medium">Email</td>
                          <td>{{variable.fk_product.fk_business.fk_user.email}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!--end table-->
                  </div>
                </div>
              </div>
              <!--end card-->
            </div>
          </div>
        </div>
        <!-- container-fluid -->
      </div>
      <!-- End Page-content -->
    
      {% block footer %} {% include "partials/footer.html" %} {% endblock footer %}
    </div>
    <!-- end main content-->
    
    {% endblock content %} {% block extra_js %} {% endblock extra_js %}