            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xxl-6">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img class="rounded-start img-fluid h-100 object-cover" src="assets/images/small/img-12.jpg" alt="Card image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Bienvenido al Sistema de Apoyo a Decisiones Financieras para PYMES del Sector Lácteo</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text mb-2">
                                                
                                                ¡Potencia tu estrategia financiera con inteligencia y precisión! Nuestro Sistema Web está diseñado exclusivamente para brindar a las PYMES del sector lácteo el apoyo necesario en la toma de decisiones financieras basadas en datos con un enfoque innovador.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                        <div class="col-xxl-6">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Análisis Basado en Datos</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text mb-2">
                                                Gracias a nuestras avanzadas funciones de densidad probabilística, te ofrecemos una visión profunda y precisa del comportamiento de la demanda en tu sector. Entender las tendencias pasadas y futuras es esencial para tomar decisiones informadas.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="rounded-end img-fluid h-100 object-cover" src="assets/images/small/img-4.jpg" alt="Card image">
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->

                        <div class="col-xxl-6">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img class="rounded-start img-fluid h-100 object-cover" src="assets/images/small/img-9.jpg" alt="Card image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title mb-2">Simulación Precisa al 70%</h5>
                                            <p class="card-text text-muted mb-0">
                                                ¿Qué sucede si cambian las condiciones? Nuestra simulación financiera te permite explorar múltiples escenarios en función de la demanda proyectada. Visualiza los posibles resultados y ajusta tu estrategia para maximizar tus ingresos y minimizar los riesgos.
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->

                        <div class="col-xxl-6">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title mb-2">Importancia del analisis de la demanda</h5>
                                            <p class="card-text text-muted mb-0">  
La importancia del análisis de la demanda en la gestión empresarial es innegable. Este proceso proporciona una visión profunda de las necesidades y preferencias de los clientes, lo que, a su vez, guía las estrategias empresariales, la toma de decisiones de inversión y la eficiencia en la producción y el inventario. Además, el análisis de la demanda potencia las estrategias de marketing, la competitividad y la optimización de precios. En resumen, es una herramienta vital para el éxito y la adaptación continua en el mercado actual.
                                            
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="rounded-end img-fluid h-100 object-cover" src="assets/images/small/img-2.jpg" alt="Card image">
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->
            </div><!-- end row -->