                        <div class="col-12">
                            <div class="row">
                                <div class="col-xxl-4 col-lg-6">
                                    <div class="card card-overlay">
                                        <img class="card-img img-fluid" src="assets/images/small/img-1.jpg" alt="Card image">
                                        <div class="card-img-overlay p-0">
                                            <div class="card-header bg-transparent">
                                                <h4 class="card-title text-white mb-0">Paso 1: Iniciar Sesión</h4>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text text-white mb-2">Accede a la plataforma con tus credenciales de usuario. Si eres nuevo, regístrate para obtener acceso. </p>    
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-xxl-4 col-lg-6">
                                    <div class="card card-overlay">
                                        <img class="card-img img-fluid" src="assets/images/small/img-1.jpg" alt="Card image">
                                        <div class="card-img-overlay p-0">
                                            <div class="card-header bg-transparent">
                                                <h4 class="card-title text-white mb-0">Paso 2: Navegación</h4>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text text-white mb-2">
                                                    Una vez dentro, encontrarás un menú intuitivo:
                                                    "Inicio": Visión general del sistema.
                                                    "Análisis de Demanda": Explora el comportamiento de la demanda utilizando funciones de densidad probabilística.
                                                    "Simulación Financiera": Simula diferentes escenarios financieros basados en la demanda pronosticada. </p> 
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->

                                <div class="col-xxl-4 col-lg-6">
                                    <div class="card card-overlay">
                                        <img class="card-img img-fluid" src="assets/images/small/img-1.jpg" alt="Card image">
                                        <div class="card-img-overlay p-0">
                                            <div class="card-header bg-transparent">
                                                <h4 class="card-title text-white mb-0">Paso 3: Análisis de Demanda</h4>
                                            </div>
                                            <div class="card-body"><p class="card-text text-white mb-2">
                                                Selecciona "Análisis de Demanda" en el menú.
                                                Ingresa los datos históricos de demanda y otros parámetr os relevantes.
                                                Se generará una función de densidad probabilística que muestra la distribución de la demanda.
                                                Visualiza gráficos y estadísticas para comprender mejor el comportamiento de la deman </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-xxl-4 col-lg-6">
                                    <div class="card card-overlay">
                                        <img class="card-img img-fluid" src="assets/images/small/img-1.jpg" alt="Card image">
                                        <div class="card-img-overlay p-0">
                                            <div class="card-header bg-transparent">
                                                <h4 class="card-title text-white mb-0">Paso 4: Simulación Financiera</h4>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text text-white mb-2">
                                                    Escoge "Simulación Financiera" en el menú.
                                                    Introduce los datos financieros actuales y las variables relacionadas con la demanda.
                                                    Ejecuta la simulación para generar múltiples escenarios financieros posibles.
                                                    Explora los resultados, como ingresos, gastos y ganancias, bajo diferentes condiciones de demanda.</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-xxl-4 col-lg-6">
                                    <div class="card card-overlay">
                                        <img class="card-img img-fluid" src="assets/images/small/img-1.jpg" alt="Card image">
                                        <div class="card-img-overlay p-0">
                                            <div class="card-header bg-transparent">
                                                <h4 class="card-title text-white mb-0">Paso 5: Toma de Decisiones</h4>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text text-white mb-2">Basándote en los resultados del análisis y la simulación, evalúa diferentes escenarios.
                                                    Utiliza estos insights para tomar decisiones informadas sobre inversión, producción y estrategias financieras.
                                                    Refina tus decisiones en función de tus objetivos y la realidad de tu PYME láctea.</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col-xxl-4 col-lg-6">
                                    <div class="card card-overlay">
                                        <img class="card-img img-fluid" src="assets/images/small/img-1.jpg" alt="Card image">
                                        <div class="card-img-overlay p-0">
                                            <div class="card-header bg-transparent">
                                                <h4 class="card-title text-white mb-0">Paso 6: Guardar y Exportar</h4>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text text-white mb-2">Guarda tus configuraciones, análisis y simulaciones para referencia futura.
                                                    Exporta los resultados en formatos como PDF o hojas de cálculo para compartir con tu equipo. </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col --><div class="col-xxl-4 col-lg-6">
                                    <div class="card card-overlay">
                                        <img class="card-img img-fluid" src="assets/images/small/img-1.jpg" alt="Card image">
                                        <div class="card-img-overlay p-0">
                                            <div class="card-header bg-transparent">
                                                <h4 class="card-title text-white mb-0">Paso 7: Soporte</h4>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text text-white mb-2">Si tienes preguntas o necesitas ayuda, encuentra la sección de "Soporte" en el menú. Nuestro equipo está listo para asistirte. </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end col -->