       <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">NUEVO PRODUCTO</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">MENU</a></li>
                                        <li class="breadcrumb-item active">NUEVO PRODUCTO</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="col-xxl-6">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Nueva Variable</h4>
                            </div><!-- end card header -->
                            <div class="card-body">
                                <p class="text-muted">
                                    Ingresa los datos correspondientes para crear una variable
                                </p>
                                <div class="live-preview">
                                    <form action="javascript:void(0);">
                                        <div class="row mb-3">
                                            <div class="col-lg-3">
                                                <label for="cantidadProductos" class="form-label">Nombre de la variable</label>
                                            </div>
                                            <div class="col-lg-4">
                                                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="cantidadProductos" placeholder="Ingrese el nombre de la variable">
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <label class="input-group-text" for="inputGroupSelect01">Unidad de la variable</label>
                                                    <select class="form-select" id="inputGroupSelect01">
                                                        <option selected>Elegir...</option>
                                                        <option value="1">Kg/dia</option>
                                                        <option value="2">Litros/dia</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>                                           
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-lg-3">
                                                <label for="demandaHistorica" class="form-label">Cantidad </label>
                                            </div>
                                            <div class="col-lg-5">
                                                <input type="text" [(ngModel)]="fee" [ngModelOptions]="{standalone: true}" class="form-control" id="demandaHistorica" placeholder="Ingresa la demanda histórica">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div>
                                                <label for="exampleFormControlTextarea5" class="form-label">
                                                    Descripcion de la variable
                                                </label>
                                                <textarea [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
                                            </div>
                                        </div>                                    
                                        <div class="text-end">
                                            <button class="btn btn-primary" type="button">Registrar</button>
                                            <button class="btn btn-outline-success shadow-none" (click)="saveRecords()" type="button" id="button-addon2">Limpiar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>                   
                </div>
            </div>
            <!-- container-fluid -->
        </div>
            <!-- End Page-content -->