{% extends "partials/base.html" %}
{% load static %}
{% block title %}Profile Settings{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <div class="position-relative mx-n4 mt-n4">
                <div class="profile-wid-bg profile-setting-img">
                    <img src="{% static 'images/cover-pattern.webp'%}" class="profile-wid-img" alt="">
                    <div class="overlay-content">
                        <div class="text-end p-3">
                            <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                                <input id="profile-foreground-img-file-input" type="file"
                                    class="profile-foreground-img-file-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-3">
                    <div class="card mt-n5">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                    {% if user.image_src == null %}
                                    <img src="{% static 'images/users/user-dummy-img.webp'%}"
                                        class="rounded-circle avatar-xl img-thumbnail user-profile-image"
                                        alt="user-profile-image">
                                        {% else %}
                                        <img src="{{ MEDIA_URL }}{{ user.image_src.url }}"
                                        class="rounded-circle avatar-xl img-thumbnail user-profile-image"
                                        alt="user-profile-image">
                                        {% endif %}
                                    <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                        <input id="profile-img-file-input" type="file"
                                            class="profile-img-file-input">
                                        <label for="profile-img-file-input"
                                            class="profile-photo-edit avatar-xs">
                                            <span class="avatar-title rounded-circle bg-light text-body">
                                                <i class="ri-camera-fill"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <h5 class="fs-16 mb-1">{{user.username}}</h5>
                                {% if user.is_staff %}
                                <p class="text-muted mb-0">Administrator</p>
                                {% else %}
                                <p class="text-muted mb-0">User</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-5">
                                <div class="flex-grow-1">
                                    <h5 class="card-title mb-0">Complete Your Profile</h5>
                                </div>
                            </div>
                            <div class="progress animated-progress custom-progress progress-label">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 30%"
                                    aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                    <div class="label">30%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-xxl-9">
                    <div class="card mt-xxl-n5">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
                                role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails"
                                        role="tab">
                                        <i class="fas fa-home"></i>
                                        Personal Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
                                        <i class="far fa-user"></i>
                                        Security
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body p-4">
                            <div class="tab-content">
                                <div class="tab-pane active" id="personalDetails" role="tabpanel">
                                    <form method="POST" class="post-form" id="userForm" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="firstnameInput" class="form-label">First
                                                        Name</label>
                                                    <input type="text" class="form-control" id="firstnameInput"
                                                        placeholder="Enter your firstname" value="{{user.first_name}}">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="lastnameInput" class="form-label">Last
                                                        Name</label>
                                                    <input type="text" class="form-control" id="lastnameInput"
                                                        placeholder="Enter your lastname" value="{{user.last_name}}">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="emailInput" class="form-label">Email
                                                        Address</label>
                                                    <input type="email" class="form-control" id="emailInput"
                                                        placeholder="Enter your email"
                                                        value="{{user.email}}">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="cityInput" class="form-label">City</label>
                                                    <input type="text" class="form-control" id="cityInput"
                                                        placeholder="City" value="California" />
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="countryInput" class="form-label">State</label>
                                                    <input type="text" class="form-control" id="countryInput"
                                                        placeholder="State" value="United States" />
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="hstack gap-2 justify-content-end">

                                                    <button type="submit"
                                                        class="btn btn-primary">Update</button>

                                                    <button type="button"
                                                        class="btn btn-soft-success">Cancel</button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                </div>
                                <!--end tab-pane-->
                                <div class="tab-pane" id="changePassword" role="tabpanel">
                                    <form id="passwordChangeForm">
                                        <div class="row g-2">
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for="oldpassword" class="form-label">Old Password*</label>
                                                    <input type="password" class="form-control" id="oldpassword" placeholder="Enter current password" required>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for="newpassword" class="form-label">New Password*</label>
                                                    <input type="password" class="form-control" id="newpassword" placeholder="Enter new password" required>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for="confirmpasswordInput" class="form-label">Confirm Password*</label>
                                                    <input type="password" class="form-control" id="confirmpasswordInput" placeholder="Confirm password" required>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <a href="{% url 'account_reset_password' %}" class="link-primary text-decoration-underline">Forgot Password ?</a>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="text-end">
                                                    <button type="button" id="changePasswordButton" class="btn btn-success">Change Password</button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                    <div class="mt-4 mb-3 border-bottom pb-2">
                                        <h5 class="card-title">Last Login</h5>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0 avatar-sm">
                                            <div class="avatar-title bg-light text-primary rounded-3 fs-18">
                                                <i class="ri-smartphone-line"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>Web Browser</h6>
                                            <p class="text-muted mb-0">{{user.last_login}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <h5 class="card-title text-decoration-underline mb-3">Delete This
                                            Account:</h5>
                                        <p class="text-muted">Go to the Data & Privacy section of your profile
                                            Account. Scroll to "Your data & privacy options." Delete your
                                            Profile Account. Follow the instructions to delete your account :
                                        </p>
                                        <div>
                                            <input type="password" class="form-control" id="passwordInput"
                                                placeholder="Enter your password" style="max-width: 265px;">
                                        </div>
                                        <div class="hstack gap-2 mt-3">
                                            <a href="javascript:void(0);" class="btn btn-soft-danger">Close &
                                                Delete This Account</a>
                                            <a href="javascript:void(0);" class="btn btn-light">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <!--end tab-pane-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!-- container-fluid -->
    </div><!-- End Page-content -->

    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
<!-- profile-setting init js -->
<script>
    document.getElementById('changePasswordButton').addEventListener('click', async function () {
        const oldPassword = document.getElementById('oldpassword').value;
        const newPassword = document.getElementById('newpassword').value;
        const confirmPassword = document.getElementById('confirmpasswordInput').value;
        const form = document.getElementById('passwordChangeForm');
    
        // Client-side validation
        if (!form.checkValidity()) {
            form.classList.add('was-validated');
            return;
        }
    
        if (newPassword !== confirmPassword) {
            alert("New password and confirm password do not match.");
            return;
        }
    
        // Assuming you have a function to send the data to the server
        const response = await changePassword(oldPassword, newPassword);
    
        // Handle the response from the server
        if (response.success) {
            alert("Password changed successfully.");
            form.reset(); // Clear the form
        } else {
            alert("Password change failed. Please try again.");
        }
    });
    
    async function changePassword(oldPassword, newPassword) {
        try {
            const response = await fetch('{% url "user:password.change" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify({ oldPassword, newPassword }),
            });
    
            if (response.ok) {
                return { success: true };
            } else {
                return { success: false };
            }
        } catch (error) {
            return { success: false };
        }
    }
    
    
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }    
</script>
<script>
// Function to handle form submission
$('#userForm').on('submit', async function (event) {
    event.preventDefault();

    try {
        const formData = new FormData(this);
        const response = await fetch('{% url "user:user.edit" user_id=user.id %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
        });
        
        
        if (response.ok) {
            // Business created successfully, you can show a success message here if needed.
            hideAddBusinessModal();  // Hide the modal after successful submission
        } else {
            // Handle errors and display them to the user
            const responseData = await response.json();
            if (responseData.errors && responseData.errors.name) {
                // Display the specific error message for the "name" field
                const errorDiv = document.getElementById('error-name'); // Adjust the element ID as needed
                if (errorDiv) {
                    errorDiv.textContent = responseData.errors.name[0];
                }
            }
        }
    } catch (error) {
        // Handle network or other errors
        console.error(error);
    }
});</script>
{% endblock extra_js %}
