{% extends "partials/base.html" %}
{% load static %}
{% block title %}Users List{% endblock title %}
{% block extra_css %}
<!-- Sweet Alert css-->
<link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="Administrator" title="Users" %}
                        {% endblock pagetitle %}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card" id="userList">
                                    <div class="card-header border-bottom-dashed">
    
                                        <div class="row g-4 align-items-center">
                                            <div class="col-sm">
                                                <div>
                                                    <h5 class="card-title mb-0">User List</h5>
                                                </div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <div class="d-flex flex-wrap align-items-start gap-2">
                                                    <button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                                    <button type="button" class="btn btn-success add-btn"
                                                        data-bs-toggle="modal" id="create-btn"
                                                        data-bs-target="#showModal"><i
                                                            class="ri-add-line align-bottom me-1"></i> Add User</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body border-bottom-dashed border-bottom">
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-xl-6">
                                                    <div class="search-box">
                                                        <input type="text" class="form-control search"
                                                            placeholder="Search for user, email, phone, status or something...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-xl-6">
                                                    <div class="row g-3">
                                                        <div class="col-sm-4">
                                                            <div class="">
                                                                <input type="text" class="form-control"
                                                                    id="datepicker-range" data-provider="flatpickr"
                                                                    data-date-format="d M, Y" data-range-date="true"
                                                                    placeholder="Select date">
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-sm-4">
                                                            <div>
                                                                <select class="form-control" data-plugin="choices"
                                                                    data-choices data-choices-search-false
                                                                    name="choices-single-default" id="idStatus">
                                                                    <option value="">Status</option>
                                                                    <option value="all" selected>All</option>
                                                                    <option value="Active">Active</option>
                                                                    <option value="Block">Block</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
    
                                                        <div class="col-sm-4">
                                                            <div>
                                                                <button type="button" class="btn btn-primary w-100"
                                                                    onclick="SearchData();"> <i
                                                                        class="ri-equalizer-fill me-2 align-bottom"></i>Filters</button>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <div class="table-responsive table-card mb-1">
                                                <table class="table align-middle" id="userTable">
                                                    <thead class="table-light text-muted">
                                                        <tr>
                                                            <th scope="col" style="width: 50px;">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        id="checkAll" value="option">
                                                                </div>
                                                            </th>
    
                                                            <th class="sort" data-sort="user_name">User</th>
                                                            <th class="sort" data-sort="email">Email</th>
                                                            <th class="sort" data-sort="date">Joining Date</th>
                                                            <th class="sort" data-sort="status">Status</th>
                                                            <th class="sort" data-sort="action">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="list form-check-all">
                                                        {% for user in users %}
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="chk_child" value="option1">
                                                                </div>
                                                            </th>
                                                            <td class="id" style="display:none;"><a
                                                                    href="javascript:void(0);"
                                                                    class="fw-medium link-primary">{{ user.id }}</a></td>
                                                            <td class="user_name">{{ user.username }}</td>
                                                            <td class="email">{{ user.email }}</td>
                                                            <td class="date">{{ user.date_joined|date:"d M,Y" }}</td>
                                                            <td class="status">
                                                                {% if user.is_active == 1 %}
                                                                <span class="badge bg-success-subtle text-success text-uppercase">Active</span>
                                                                {% else %}
                                                                <span class="badge bg-danger-subtle text-danger text-uppercase">Deactived</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <ul class="list-inline hstack gap-2 mb-0">
                                                                    <li class="list-inline-item edit"
                                                                        data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                        data-bs-placement="top" title="Edit">
                                                                        <a href="#showModal-{{ forloop.counter }}" data-bs-toggle="modal"
                                                                            class="text-primary d-inline-block edit-item-btn">
                                                                            <i class="ri-pencil-fill fs-16"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item" data-bs-toggle="tooltip"
                                                                        data-bs-trigger="hover" data-bs-placement="top"
                                                                        title="Remove">
                                                                        <a class="text-danger d-inline-block remove-item-btn"
                                                                            data-bs-toggle="modal"
                                                                            href="#deleteRecordModal-{{ forloop.counter }}">
                                                                            <i class="ri-delete-bin-5-fill fs-16"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="noresult" style="display: none">
                                                    <div class="text-center">
                                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json"
                                                            trigger="loop" colors="primary:#121331,secondary:#08a88a"
                                                            style="width:75px;height:75px">
                                                        </lord-icon>
                                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                                        <p class="text-muted mb-0">We've searched more than 150+ user We
                                                            did not find any
                                                            user for you search.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <div class="pagination-wrap hstack gap-2">
                                                    <a class="page-item pagination-prev disabled" href="#">
                                                        Previous
                                                    </a>
                                                    <ul class="pagination listjs-pagination mb-0"></ul>
                                                    <a class="page-item pagination-next" href="#">
                                                        Next
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="showModal" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-light p-3">
                                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close" id="close-modal"></button>
                                                    </div>
                                                    <form action="{% url 'user:user.list' %}" method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="modal-body">
                                                            <input type="hidden" id="id-field" />
    
                                                            <div class="mb-3" id="modal-id" style="display: none;">
                                                                <label for="id-field1" class="form-label">ID</label>
                                                                <input type="text" id="id-field1" class="form-control"
                                                                    placeholder="ID" readonly />
                                                            </div>
    
                                                            <div class="mb-3">
                                                                <label for="username-field" class="form-label">User
                                                                    Name</label>
                                                                <input type="text" name="name"
                                                                    class="form-control" placeholder="Enter name"
                                                                    required />
                                                                    <div class="invalid-feedback">Please enter a user name.</div>
                                                            </div>
    
                                                            <div class="mb-3">
                                                                <label for="email-field" class="form-label">Email</label>
                                                                <input type="email" name="email_id" class="form-control"
                                                                    placeholder="Enter email" required />
                                                                <div class="invalid-feedback">Please enter an email.</div>
                                                            </div>
    
                                                            <div class="mb-3">
                                                                <label for="phone-field" class="form-label">Password</label>
                                                                <input type="text" name="phone" class="form-control"
                                                                    placeholder="Enter phone no." required />
                                                                <div class="invalid-feedback">Please enter a phone.</div>
                                                            </div>
    
                                                            <div class="mb-3">
                                                                <label for="date-field" class="form-label">Joining
                                                                    Date</label>
                                                                <input type="date" name="joining_date" class="form-control"
                                                                    data-provider="flatpickr" data-date-format="Y-m-d"
                                                                    required placeholder="Select date" />
                                                                <div class="invalid-feedback">Please select a date.</div>
                                                            </div>
    
                                                            <div>
                                                                <label for="status-field" class="form-label">Status</label>
                                                                <select class="form-control" data-trigger
                                                                    name="status" id="status-field" required>
                                                                    <option value="">Status</option>
                                                                    <option value="Active">Active</option>
                                                                    <option value="Block">Block</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="hstack gap-2 justify-content-end">
                                                                <button type="button" class="btn btn-light"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-success"
                                                                    id="add-btn">Add User</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
    
                                        {% for user in users %}
                                        <div class="modal fade" id="showModal-{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-light p-3">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close" id="close-modal"></button>
                                                    </div>
                                                    <form action="{% url 'user:user.edit' user.id %}" method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="modal-body">
                                                            <input type="hidden" id="id-field" />
    
                                                            <div class="mb-3" id="modal-id" style="display: none;">
                                                                <label for="id-field1" class="form-label">ID</label>
                                                                <input type="text" id="id-field1" class="form-control"
                                                                    placeholder="ID" readonly />
                                                            </div>
    
                                                            <div class="mb-3">
                                                                <label for="username-field" class="form-label">User
                                                                    Name</label>
                                                                <input type="text" name="name" value="{{ user.name }}"
                                                                    class="form-control" placeholder="Enter name"
                                                                    required />
                                                                    <div class="invalid-feedback">Please enter a user name.</div>
                                                            </div>
    
                                                            <div class="mb-3">
                                                                <label for="email-field" class="form-label">Email</label>
                                                                <input type="email" name="email_id" class="form-control" value="{{ user.email_id }}"
                                                                    placeholder="Enter email" required />
                                                                <div class="invalid-feedback">Please enter an email.</div>
                                                            </div>
    
                                                            <div class="mb-3">
                                                                <label for="phone-field" class="form-label">Phone</label>
                                                                <input type="text" name="phone" class="form-control" value="{{ user.phone }}"
                                                                    placeholder="Enter phone no." required />
                                                                <div class="invalid-feedback">Please enter a phone.</div>
                                                            </div>
    
                                                            <div class="mb-3">
                                                                <label for="date-field" class="form-label">Joining
                                                                    Date</label>
                                                                <input type="date" name="joining_date" class="form-control"
                                                                    data-provider="flatpickr" data-date-format="Y-m-d" value="{{ user.joining_date|date:"Y-m-d" }}"
                                                                    required placeholder="Select date" />
                                                                <div class="invalid-feedback">Please select a date.</div>
                                                            </div>
    
                                                            <div>
                                                                <label for="status-field" class="form-label">Status</label>
                                                                <select class="form-control" data-trigger
                                                                    name="status" id="status-field" required>
                                                                    <option value="">Status</option>
                                                                    {% if user.status == "Active" %}
                                                                    <option value="Active" selected>Active</option>
                                                                    {% else %}
                                                                    <option value="Active">Active</option>
                                                                    {% endif %}
                                                                    {% if user.status == "Block" %}
                                                                    <option value="Block" selected>Block</option>
                                                                    {% else %}
                                                                    <option value="Block">Block</option>
                                                                    {% endif %}
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="hstack gap-2 justify-content-end">
                                                                <button type="button" class="btn btn-light"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-success"
                                                                    id="add-btn">Update</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade zoomIn" id="deleteRecordModal-{{ forloop.counter }}" tabindex="-1"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close" id="deleteRecord-close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mt-2 text-center">
                                                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json"
                                                                trigger="loop" colors="primary:#f7b84b,secondary:#f06548"
                                                                style="width:100px;height:100px"></lord-icon>
                                                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                                                <h4>Are you sure ?</h4>
                                                                <p class="text-muted mx-4 mb-0">Are you sure you want to
                                                                    remove this record ?</p>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                                            <button type="button" class="btn w-sm btn-light"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <a type="button" class="btn w-sm btn-danger "
                                                                id="delete-record" href="{% url 'user:user.delete' user.id %}">Yes, Delete It!</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--end modal -->
                                    </div>
                                </div>
    
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
    
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}
{% block extra_js %}

{% endblock extra_js %}